# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
from pandas_datareader import data, wb

# package for dates
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [2]:
start = dt.datetime(2015, 1, 1)

end = dt.datetime.today()

start

datetime.datetime(2015, 1, 1, 0, 0)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [3]:
stocks = ['AAPL', 'TSLA', 'IBM', 'LNKD']

### Step 4. Read the data from google, assign to df and print it

In [4]:
df = data.DataReader(stocks, "yahoo", start, end)
df

Attributes   Adj Close                                     Close               \
Symbols           AAPL         TSLA         IBM LNKD        AAPL         TSLA
Date
2015-01-02   99.945885   219.309998  127.531136  NaN  109.330002   219.309998
2015-01-05   97.130241   210.089996  125.524490  NaN  106.250000   210.089996
2015-01-06   97.139420   211.279999  122.817429  NaN  106.260002   211.279999
2015-01-07   98.501518   210.949997  122.014748  NaN  107.750000   210.949997
2015-01-08  102.286186   210.619995  124.666725  NaN  111.889999   210.619995
...                ...          ...         ...  ...         ...          ...
2020-07-22  389.089996  1592.329956  128.669998  NaN  389.089996  1592.329956
2020-07-23  371.380005  1513.069946  127.330002  NaN  371.380005  1513.069946
2020-07-24  370.459991  1417.000000  125.790001  NaN  370.459991  1417.000000
2020-07-27  379.239990  1539.599976  126.209999  NaN  379.239990  1539.599976
2020-07-28  374.464996  1481.469971  125.464996  NaN  374.464996  1481.469971

Attributes                         High               ...         Low       \
Symbols            IBM LNKD        AAPL         TSLA  ...         IBM LNKD
Date                                                  ...
2015-01-02  162.059998  NaN  111.440002   223.250000  ...  161.000000  NaN
2015-01-05  159.509995  NaN  108.650002   216.500000  ...  159.190002  NaN
2015-01-06  156.070007  NaN  107.430000   214.199997  ...  155.169998  NaN
2015-01-07  155.050003  NaN  108.199997   214.779999  ...  154.029999  NaN
2015-01-08  158.419998  NaN  112.150002   213.800003  ...  155.550003  NaN
...                ...  ...         ...          ...  ...         ...  ...
2020-07-22  128.669998  NaN  391.899994  1626.420044  ...  125.800003  NaN
2020-07-23  127.330002  NaN  388.309998  1689.000000  ...  127.150002  NaN
2020-07-24  125.790001  NaN  371.880005  1465.000000  ...  125.500000  NaN
2020-07-27  126.209999  NaN  379.619995  1547.939941  ...  124.709999  NaN
2020-07-28  125.464996  NaN  378.198608  1520.969971  ...  125.430099  NaN

Attributes        Open                                    Volume              \
Symbols           AAPL         TSLA         IBM LNKD        AAPL        TSLA
Date
2015-01-02  111.389999   222.869995  161.309998  NaN  53204600.0   4764400.0
2015-01-05  108.290001   214.550003  161.270004  NaN  64285500.0   5368500.0
2015-01-06  106.540001   210.059998  159.669998  NaN  65797100.0   6261900.0
2015-01-07  107.199997   213.350006  157.199997  NaN  40105900.0   2968400.0
2015-01-08  109.230003   212.809998  156.240005  NaN  59364500.0   3442500.0
...                ...          ...         ...  ...         ...         ...
2020-07-22  386.769989  1599.000000  125.900002  NaN  22250400.0  14161100.0
2020-07-23  387.989990  1678.949951  129.100006  NaN  49251100.0  24328500.0
2020-07-24  363.950012  1416.010010  126.480003  NaN  46359700.0  19396600.0
2020-07-27  374.839996  1435.000000  124.860001  NaN  30233100.0  15988400.0
2020-07-28  377.470001  1504.000000  125.820000  NaN   6043255.0   2357493.0

Attributes
Symbols           IBM LNKD
Date
2015-01-02  5525500.0  NaN
2015-01-05  4880400.0  NaN
2015-01-06  6146700.0  NaN
2015-01-07  4701800.0  NaN
2015-01-08  4236800.0  NaN
...               ...  ...
2020-07-22  8195400.0  NaN
2020-07-23  4220100.0  NaN
2020-07-24  3531100.0  NaN
2020-07-27  3733400.0  NaN
2020-07-28   610015.0  NaN

[1402 rows x 24 columns]

### Step 5.  What is the type of structure of df ?

In [ ]:
# 'pandas.core.panel.Panel'

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [120]:
df.items

Index([u'Open', u'High', u'Low', u'Close', u'Volume'], dtype='object')

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [122]:
vol = df['Volume']
vol.head()

                  AAPL        IBM       LNKD       TSLA
Date
2015-01-02  53204626.0  5525466.0  1203743.0  4764443.0
2015-01-05  64285491.0  4880389.0  1400562.0  5368477.0
2015-01-06  65797116.0  6146712.0  2006546.0  6261936.0
2015-01-07  40105934.0  4701839.0   985016.0  2968390.0
2015-01-08  59364547.0  4241113.0  1293955.0  3442509.0

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [132]:
vol['week'] = vol.index.week
vol['year'] = vol.index.year

week = vol.groupby(['week','year']).sum()
week.head()

                  AAPL         IBM       LNKD        TSLA
week year
1    2015   53204626.0   5525466.0  1203743.0   4764443.0
     2016  343422014.0  25233098.0  6630485.0  20967926.0
2    2015  283252615.0  24458400.0  7203125.0  22709607.0
     2016  302072797.0  29379214.0  9160521.0  22997290.0
3    2015  304226647.0  23263206.0  7084168.0  30799137.0

### Step 9. Find all the volume traded in the year of 2015

In [131]:
del vol['week']
vol['year'] = vol.index.year

year = vol.groupby(['year']).sum()
year

              AAPL           IBM         LNKD          TSLA
year
2015  1.301994e+10  1.100959e+09  440376163.0  1.085839e+09
2016  6.081474e+09  6.585250e+08  453233878.0  7.540962e+08

### BONUS: Create your own question and answer it.