# Data Science Bootcamp - The Bridge 
## Precurso
En este notebook vamos a ver, uno a uno, los conceptos básicos de Python. Constarán de ejercicios prácticos acompañados de una explicación teórica dada por el profesor.

Los siguientes enlaces están recomendados para el alumno para profundizar y reforzar conceptos a partir de  ejercicios y ejemplos:

- https://facundoq.github.io/courses/aa2018/res/02_python.html

- https://www.w3resource.com/python-exercises/

- https://www.practicepython.org/

- https://es.slideshare.net/egutierrezru/python-paraprincipiantes

- https://www.sololearn.com/Play/Python#

- https://github.com/mhkmcp/Python-Bootcamp-from-Basic-to-Advanced

Ejercicios avanzados:

- https://github.com/darkprinx/100-plus-Python-programming-exercises-extended/tree/master/Status (++)

- https://github.com/mahtab04/Python-Programming-Practice (++)

- https://github.com/whojayantkumar/Python_Programs (+++)

- https://www.w3resource.com/python-exercises/ (++++)

- https://github.com/fupus/notebooks-ejercicios (+++++)

Tutor de ayuda PythonTutor:

- http://pythontutor.com/

## 1. Variables y tipos

### Cadenas

In [2]:
x = 2

print(x)

gabriel_vazquez = "Gabriel Vazquez"

2

In [5]:
print("Hello Python world!")
print("Nombre de compañero")

compañero = "Compañero123123"

Hello Python world!
Nombre de compañero

In [6]:
print(compañero)

Compañero123123

Esto es texto

In [12]:
# String, Integer, Float, List, None (NaN)
# str, int, float, list, 

string_ = "23"
numero = 23

print(type(string_))

<class 'str'>

In [9]:
print(string_)

23

In [13]:
numero2 = 10
suma = numero + numero2
print(suma)

33

In [14]:
string2 = "33"
suma2 = string_ + string2
print(suma2)

2333

In [30]:
m = (((numero2 + int(string2))))
print(m)

43

In [31]:
print(type(int(string2)))

<class 'int'>

In [2]:
y = 22
y = str(y)
print(type(y))
y

<class 'str'>

'22'

In [33]:
string2 = int(string2)
print(type(string2))

<class 'int'>

In [36]:
string3 = "10"
numero_a_partir_de_string = int(string3)
print(numero_a_partir_de_string)
print(string3)

print(type(numero_a_partir_de_string))
print(type(string3))

10
10
<class 'int'>
<class 'str'>

In [44]:
h = "2"
int(h)

2

In [4]:
num1 = 12
num2 = 3

suma = num1 + num2
resta = num1 - num2
multiplicacion = num1 * num2 
division = num1 / num2
division_absoluta = num1 // num2

gabriel_vazquez = "Gabriel Vazquez"

print(suma)
print(resta)
print(multiplicacion)
print(division)
print(division_absoluta)
print(type(division))
print(type(division_absoluta))

15
9
36
4.0
4
<class 'float'>
<class 'int'>

In [51]:
x = int(5.6//2)

x

2

kmkfjk

# kskjkjfs

In [65]:
# Soy un comentario
# print("Hello Python world!")
# Estoy creando una variable que vale 2
"""
Esto es otro comentario
"""
print(x)
x = 25
x = 76
x = "1"

1

In [ ]:
message2 = "One of Python's strengths is its diverse community." 
print(message2)

## Ejercicio: 
### Crear una nueva celda.
### Declarar tres variables: 
- Una con el nombre "edad" con valor vuestra edad
- Otra "edad_compañero_der" que contengan la edad de tipo entero de vuestro compañero de la derecha
- Otra "suma_anterior" que contenga la suma de las dos variables anteriormente declaradas

 Mostrar por pantalla la variable "suma_anterior"

In [66]:
edad = 18
edad_companero_der = 29
suma_anterior = edad + edad_companero_der
suma_anterior

47

In [67]:
name = "Ada Lovelace"
x = 2
print(name.upper())
print(name.lower())

ADA LOVELACE
ada lovelace

In [68]:
print(name.upper)

<built-in method upper of str object at 0x0000021CD21027F0>

In [69]:
print(name.upper())

ADA LOVELACE

In [ ]:
x = 2
x = x + 1
x += 1

In [70]:
x = 2
y = 4

print(x, y, "Pepito", "Hola")

2 4 Pepito Hola

## 2. Números y operadores

In [75]:
### Enteros ###

x = 3 

print("- Tipo de x:")
print(type(x)) # Imprime el tipo (o `clase`) de x
print("- Valor de x:")
print(x)       # Imprimir un valor
print("- x+1:")
print(x + 1)   # Suma: imprime "4"
print("- x-1:")
print(x - 1)   # Resta; imprime "2"
print("- x*2:")
print(x * 2)   # Multiplicación; imprime "6"
print("- x^2:")
print(x ** 2)  # Exponenciación; imprime "9"
# Modificación de x
x += 1 
print("- x modificado:")
print(x)  # Imprime "4"

x *= 2
print("- x modificado:")
print(x)  # Imprime "8"

print("- Varias cosas en una línea:")
print(1, 2, x, 5*2, sep="||||") # imprime varias cosas a la vez

- Tipo de x:
<class 'int'>
- Valor de x:
3
- x+1:
4
- x-1:
2
- x*2:
6
- x^2:
9
- x modificado:
4
- x modificado:
8
- Varias cosas en una línea:
1||||2||||8||||10

In [5]:
y = 2.5 
print("- Tipo de y:")
print(type(y)) # Imprime el tipo de y
print("- Varios valores en punto flotante:")
print(y, y + 1, y * 2.5, y ** 2) # Imprime varios números en punto flotante

- Tipo de y:
<class 'float'>
- Varios valores en punto flotante:
2.5 3.5 6.25 6.25

## 3. Tipo None

In [6]:
x = None

print(type(x))

<class 'NoneType'>

## 4. Listas, tuplas y colecciones

In [13]:
lc = ["red", "blue", "green"]
lc

['red', 'blue', 'green']

In [14]:
len(lc)

3

In [15]:
la = ["red", "blue", "green", 2, 6.9]


la

['red', 'blue', 'green', 2, 6.9]

In [16]:
print(la[0])

red

In [17]:
la[4]

6.9

In [20]:
# Última posición
la[-1]

6.9

In [ ]:
# Penúltima posición
la[-2]

In [23]:
len(la)

5

In [24]:
la

['red', 'blue', 'green', 2, 6.9]

In [22]:
tamano = len(la)
la[tamano - 2]

2

In [25]:
bicycles = ['trek', 'cannondale', 'redline', 'specialized']
message = "My first bicycle was a " + bicycles[0]

print(bicycles)
print(message)

['trek', 'cannondale', 'redline', 'specialized']
My first bicycle was a trek

In [26]:
cars = ['bmw', 'audi', 'toyota', 'subaru']
print(cars)

cars.reverse()
print(cars)

['bmw', 'audi', 'toyota', 'subaru']
['subaru', 'toyota', 'audi', 'bmw']

In [30]:
motorcycles = ['honda', 'yamaha', 'suzuki', 'ducati'] 
print(motorcycles)

_ = 'ducati'
motorcycles.remove(_)
print(motorcycles)
print(too_expensive + " is too expensive for me.")

['honda', 'yamaha', 'suzuki', 'ducati']
['honda', 'yamaha', 'suzuki']
ducati is too expensive for me.

In [29]:
motorcycles.remove(too_expensive)

ValueError: list.remove(x): x not in list

In [51]:
motorcycles.append(35235)
print("Tamaño de la lista: " + str(len(motorcycles)))
print("salto")
print("m")
print("n")
print("---------")
print(motorcycles[-2])
print("---------")
motorcycles

Tamaño de la lista: 22
salto
m
n
---------
35235
---------

['honda',
 'yamaha',
 'suzuki',
 'ducati',
 'ducati',
 'ducati',
 'ducati',
 'ducati',
 2,
 25252,
 25252,
 25252,
 25252,
 25252,
 35235,
 35235,
 35235,
 35235,
 35235,
 35235,
 35235,
 35235]

In [52]:
type(len(motorcycles))

int

In [53]:
tupla = ("2", "3", "2")
tupla

('2', '3', '2')

In [54]:
tupla.remove("2")

AttributeError: 'tuple' object has no attribute 'remove'

In [55]:
len(tupla)

3

In [56]:
type(tupla)

tuple

In [57]:
l = []
type(l)

list

In [59]:
t = ("5,7", 8, [2,5])
t_to_list = list(t)
print(type(t))
print(type(t_to_list))
list_to_tuple = tuple(t_to_list)

<class 'tuple'>
<class 'list'>

In [61]:
t = (2,4,6,8)
print(type(t))
t = list(t)
t.append(45)
print(type(t))
t = tuple(t)
print(type(t))
t

<class 'tuple'>
<class 'list'>
<class 'tuple'>

(2, 4, 6, 8, 45)

In [72]:
l = ["x", 6, "y", "y", "a", 7, 8, 5]
print("l:", l)
print(type(l))
s = set(l)
print(type(s))
print("s:", s)
len(s)

l: ['x', 6, 'y', 'y', 'a', 7, 8, 5]
<class 'list'>
<class 'set'>
s: {5, 6, 7, 8, 'x', 'a', 'y'}

7

## Booleans

String - str
Integer - int
Float - float
List - list
Tuple - tuple
Set - set
None 
Boolean - bool

In [82]:
1 == 1

True

In [83]:
print(1 == 2)

False

In [87]:
1 > 2

False

In [ ]:
< > == !=

In [88]:
1 >= 2

False

In [90]:
1 == 1

True

In [91]:
1 >= 1

True

In [92]:
1 != 2

True

In [93]:
1 <= 2

True

In [97]:
l = [2, 4, 6, 8]
s = [2, 3, 1]

if len(l) != len(s):
    print("YES")
else:
    print("NO")

YES

In [86]:
y = True
x = False

l = [2, 4, "7"]

if 1 == 2:
    print("Se cumple")
else:
    print("No se cumple")

No se cumple

In [98]:
gh == 0

NameError: name 'gh' is not defined

In [110]:
x = 2
if x == 2:
    print("IF")
    x = 2
    y = "dkgjsigs"
    if x == 2:
        print("IF-2")
elif x >= 4:
    print("ELIF-gisjigjsigji")
elif x >= 2:
    print("ELIF")
else:
    print("ELSE")

IF
IF-2

In [122]:
x = 5.5

if (x >= 1) and (x <= 3):
    print("Mayor a 1 y menor a 3")
elif x > 5 and x < 6:
    print("Mayor a 5 o menor a 6")

    if x == 1 or x == 2 or x >= 4:
        print("Tres")
    else:
        print("Else")

Mayor a 5 o menor a 6
Tres

0, None, False, [[]]


!=0, Algo, True, [[1, "2"]]

In [139]:
x = None
y = []
z = 0
m = False

h = 1
if x == None:
    print("IF")
else:
    print("ELSE")

IF

In [143]:
x = []

if x:
    print(True)
else:
    print(False)

[]

In [111]:
True and True

True

In [112]:
(1==1) or (1==2)

True

In [144]:
gab = "Gabriel"
len(gab)

7

In [145]:
gab[2]

'b'

## 4. Iteraciones, For

In [36]:
players = ['charles', 'martina', 'michael', 'florence', 'eli'] 

print("Here are the first three players on my team:")
for player in players[:3]:
    print(player.title())

Here are the first three players on my team:
Charles
Martina
Michael

In [ ]:
dimensions = (200, 50)
for dimension in dimensions:
    print(dimension)

## 5. Condiciones: if, elif, else

In [ ]:
if 1 != 1:
    print("Son iguales")
else:
    print("No entra en if")

In [ ]:
if 1>3:
    print("Es mayor")
elif 2==2:
    print("Es igual")
else:
    print("Ninguna de las anteriores")

In [ ]:
if 2>3:
    print(1)
else:
    print("Primer else")
if 2==2:
    print(2)
else:
    print("Segundo else")

## 6. Funciones no return

## 7. Bucles For, While

## 8. Input

## 9. Funciones con return