# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [3]:
chipo = pd.read_csv(address, sep = '\t')
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

# Name of the max valued product

In [8]:
s1 = s[1:7]
s2 = s[8:]
int(s1 + s2)

12345641515

In [5]:
s = "$123456j41515"
s = s[1:7:8:]
s

TypeError: string indices must be integers

In [13]:
chipo.item_price = chipo.item_price.str[1:].astype(float)
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [14]:
max(chipo.item_price)

44.25

In [15]:
index = chipo.item_price.idxmax()
print(index)

3598

In [16]:
x = chipo.item_price[chipo.item_price == max(chipo.item_price)]
x

3598    44.25
Name: item_price, dtype: float64

In [21]:
s = chipo[chipo.item_price == max(chipo.item_price)]
s

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

In [20]:
chipo.item_name.nunique()

50

Con intención de saber el precio real de cada producto, vamos a crear una columna que guarde el precio por unidad.

In [22]:
chipo[chipo.item_name == "Chicken Bowl"]

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",10.98
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
19,10,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",8.75
26,13,1,Chicken Bowl,"[Roasted Chili Corn Salsa (Medium), [Pinto Bea...",8.49
...,...,...,...,...,...
4590,1825,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.25
4591,1825,1,Chicken Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",8.75
4595,1826,1,Chicken Bowl,"[Tomatillo Green Chili Salsa, [Rice, Black Bea...",8.75
4599,1827,1,Chicken Bowl,"[Roasted Chili Corn Salsa, [Cheese, Lettuce]]",8.75
4604,1828,1,Chicken Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",8.75

In [23]:
chipo["unity_price"] = chipo.item_price / chipo.quantity
chipo

,order_id,quantity,item_name,choice_description,item_price,unity_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

* Intentando por descripción

In [24]:
chipo_description = chipo.groupby("choice_description").max()
chipo_description

,order_id,quantity,item_name,item_price,unity_price
choice_description,,,,,
"[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]",214,1,Burrito,7.40,7.40
"[Adobo-Marinated and Grilled Chicken, [Sour Cream, Cheese, Cilantro-Lime Rice]]",279,1,Burrito,7.40,7.40
[Adobo-Marinated and Grilled Chicken],217,1,Crispy Tacos,7.40,7.40
"[Adobo-Marinated and Grilled Steak, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]",279,1,Bowl,7.40,7.40
[Adobo-Marinated and Grilled Steak],217,1,Crispy Tacos,7.40,7.40
...,...,...,...,...,...
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Black Beans, Cheese, Lettuce]]",1309,1,Chicken Burrito,8.49,8.49
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Black Beans, Lettuce]]",1215,1,Chicken Bowl,8.49,8.49
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Cheese, Lettuce]]",51,1,Chicken Burrito,8.49,8.49
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Cheese, Sour Cream, Lettuce]]",51,1,Barbacoa Bowl,8.99,8.99
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]]",1299,1,Barbacoa Bowl,8.99,8.99

In [25]:
chipo_description.sort_values("unity_price", ascending=False)

,order_id,quantity,item_name,item_price,unity_price
choice_description,,,,,
"[Tomatillo Green Chili Salsa, [Black Beans, Cheese, Guacamole]]",1692,2,Chicken Salad Bowl,22.50,11.89
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Guacamole, Lettuce]]",1403,1,Steak Salad Bowl,11.89,11.89
"[Roasted Chili Corn Salsa, [Rice, Cheese, Lettuce, Guacamole]]",1106,1,Steak Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Guacamole, Lettuce]]",250,1,Steak Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Rice, Fajita Vegetables, Sour Cream, Cheese, Lettuce, Guacamole]]",478,1,Steak Salad Bowl,11.89,11.89
...,...,...,...,...,...
[Peach Orange],1632,2,Nantucket Nectar,6.78,3.39
[Mountain Dew],1562,2,Canned Soda,2.18,1.09
[Diet Dr. Pepper],1578,2,Canned Soda,2.18,1.09
[Coca Cola],1475,2,Canned Soda,2.18,1.09
[Dr. Pepper],1575,2,Canned Soda,2.18,1.09

In [26]:
chipo_description[chipo_description.unity_price == max(chipo_description.unity_price)]

,order_id,quantity,item_name,item_price,unity_price
choice_description,,,,,
"[Fresh Tomato Salsa, Guacamole]",1483,1,Steak Soft Tacos,11.89,11.89
"[Fresh Tomato Salsa, [Black Beans, Cheese, Guacamole, Lettuce]]",1296,1,Steak Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Cheese, Guacamole, Lettuce]]",1790,1,Steak Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Fajita Vegetables, Black Beans, Cheese, Sour Cream, Guacamole]]",1768,1,Steak Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Fajita Vegetables, Guacamole]]",1189,1,Steak Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Guacamole, Lettuce]]",1748,1,Veggie Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacamole]]",1443,3,Veggie Burrito,33.75,11.89
"[Fresh Tomato Salsa, [Fajita Vegetables, Rice, Cheese, Sour Cream, Guacamole, Lettuce]]",1780,1,Veggie Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Fajita Vegetables, Sour Cream, Cheese, Lettuce, Guacamole]]",1718,2,Steak Salad Bowl,23.50,11.89
"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Guacamole, Lettuce]]",250,1,Steak Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Guacamole]]",1386,1,Steak Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Rice, Fajita Vegetables, Pinto Beans, Black Beans, Sour Cream, Cheese, Lettuce, Guacamole]]",501,1,Barbacoa Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Rice, Fajita Vegetables, Sour Cream, Cheese, Lettuce, Guacamole]]",478,1,Steak Salad Bowl,11.89,11.89
"[Fresh Tomato Salsa, [Rice, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",1786,1,Steak Salad Bowl,11.89,11.89
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",1526,3,Veggie Burrito,35.25,11.89
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Black Beans, Guacamole]]",1720,1,Veggie Bowl,11.89,11.89
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Cheese, Guacamole, Lettuce]]",1403,1,Steak Salad Bowl,11.89,11.89
"[Roasted Chili Corn Salsa, [Fajita Vegetables, Rice, Pinto Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",1499,1,Steak Salad Bowl,11.89,11.89
"[Roasted Chili Corn Salsa, [Rice, Cheese, Lettuce, Guacamole]]",1106,1,Steak Salad Bowl,11.89,11.89
"[Tomatillo Green Chili Salsa, [Black Beans, Cheese, Guacamole]]",1692,2,Chicken Salad Bowl,22.50,11.89
"[Tomatillo Green Chili Salsa, [Rice, Fajita Vegetables, Pinto Beans, Sour Cream, Cheese, Lettuce, Guacamole]]",970,1,Veggie Burrito,11.89,11.89
"[Tomatillo Red Chili Salsa, [Black Beans, Cheese, Guacamole]]",123,2,Veggie Burrito,23.78,11.89
"[Tomatillo Red Chili Salsa, [Black Beans, Cheese, Sour Cream, Guacamole]]",1283,1,Carnitas Burrito,11.89,11.89
"[Tomatillo Red Chili Salsa, [Fajita Vegetables, Black Beans, Cheese, Guacamole, Lettuce]]",1223,2,Veggie Bowl,23.78,11.89
"[Tomatillo Red Chili Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]",1736,1,Veggie Bowl,11.89,11.89

In [27]:
chipo_description.groupby("item_name").max()

                       order_id  quantity  item_price  unity_price
item_name
Barbacoa Bowl              1825         1       11.75        11.75
Barbacoa Burrito           1825         1       11.75        11.75
Barbacoa Crispy Tacos      1330         2       18.50        11.75
Barbacoa Salad Bowl         501         1       11.89        11.89
Barbacoa Soft Tacos        1703         1       11.75        11.75
Bowl                        279         3       22.20         7.40
Burrito                     313         1        7.40         7.40
Canned Soda                1578         2        2.18         1.09
Canned Soft Drink          1829         4       12.98         6.49
Carnitas Bowl              1825         1       11.75        11.75
Carnitas Burrito           1821         1       11.89        11.89
Carnitas Crispy Tacos      1774         1        9.25         9.25
Carnitas Salad             1500         1        8.99         8.99
Carnitas Soft Tacos        1659         1       11.75        11.75
Chicken Bowl               1826         3       32.94        11.75
Chicken Burrito            1825         2       21.96        11.75
Chicken Crispy Tacos       1775         2       17.50        11.25
Chicken Salad              1598         1        8.49         8.49
Chicken Salad Bowl         1834         2       22.50        11.89
Chicken Soft Tacos         1827         2       21.96        11.75
Crispy Tacos                217         1        7.40         7.40
Izze                       1468         1        3.39         3.39
Nantucket Nectar           1632         2        6.78         3.39
Salad                       575         1        7.40         7.40
Steak Bowl                 1796         3       26.25        11.75
Steak Burrito              1833         2       23.50        11.75
Steak Crispy Tacos         1810         2       17.98        11.75
Steak Salad                1559         2       16.98         8.99
Steak Salad Bowl           1809         2       23.50        11.89
Steak Soft Tacos           1808         3       26.25        11.89
Veggie Bowl                1831         3       26.25        11.89
Veggie Burrito             1830         4       35.25        11.89
Veggie Salad               1635         1        8.99         8.99
Veggie Salad Bowl          1834         4       35.00        11.89
Veggie Soft Tacos          1829         2       16.98        11.75

In [30]:
chipo_description = chipo.groupby(["choice_description", "item_name"]).max()
chipo_description

,,order_id,quantity,item_price,unity_price
choice_description,item_name,,,,
"[Adobo-Marinated and Grilled Chicken, Pinto Beans, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]",Burrito,214,1,7.40,7.40
"[Adobo-Marinated and Grilled Chicken, [Sour Cream, Cheese, Cilantro-Lime Rice]]",Burrito,279,1,7.40,7.40
[Adobo-Marinated and Grilled Chicken],Crispy Tacos,217,1,7.40,7.40
"[Adobo-Marinated and Grilled Steak, [Sour Cream, Salsa, Cheese, Cilantro-Lime Rice, Guacamole]]",Bowl,279,1,7.40,7.40
[Adobo-Marinated and Grilled Steak],Crispy Tacos,217,1,7.40,7.40
...,...,...,...,...,...
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Black Beans, Cheese, Lettuce]]",Chicken Burrito,1267,1,8.49,8.49
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Black Beans, Lettuce]]",Chicken Bowl,1215,1,8.49,8.49
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Cheese, Lettuce]]",Chicken Burrito,51,1,8.49,8.49
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Cheese, Sour Cream, Lettuce]]",Barbacoa Bowl,51,1,8.99,8.99
"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-Green Chili Salsa (Medium)], [Rice, Pinto Beans, Fajita Veggies, Lettuce]]",Barbacoa Bowl,1299,1,8.99,8.99

* FIN de Intentando por descripción

In [33]:
chipo_grouped = chipo.groupby("item_name").max()

In [35]:
max(chipo_grouped.unity_price)

11.89

In [39]:
k = chipo.groupby("item_name").max()
k[k.unity_price == max(k.unity_price)]

,order_id,quantity,choice_description,item_price,unity_price
item_name,,,,,
Barbacoa Salad Bowl,1751,1,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",11.89,11.89
Carnitas Salad Bowl,1692,1,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",11.89,11.89
Steak Salad Bowl,1818,2,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",23.78,11.89

BONUS

### Step 4. How many products cost more than $10.00?

In [73]:
products = chipo.item_name[(chipo.item_price > 10.0) ]
products.nunique()

27

In [74]:
products = chipo.item_name[(chipo.item_price > 10.0)]
products.nunique()

31

In [43]:
(chipo.item_price > 10.0).any()

True

In [42]:
(chipo.item_price > 10.0).all()

False

In [50]:
c = chipo.item_price > 10.0
c.values

array([False, False, False, ...,  True, False, False])

In [48]:
products.nunique()

27

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [47]:
# Delete duplicates:

chipo_dropped = chipo.copy()
chipo_dropped = chipo_dropped.drop_duplicates(["item_name", "quantity"])
chipo_dropped

,order_id,quantity,item_name,choice_description,item_price,unity_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
3890,1559,2,Carnitas Crispy Tacos,"[Fresh Tomato Salsa (Mild), [Cheese, Lettuce]]",17.98,8.99
3973,1592,4,Canned Soft Drink,[Coke],5.00,1.25
4152,1660,10,Bottled Water,NaN,15.00,1.50
4354,1738,2,Steak Soft Tacos,"[Fresh Tomato Salsa, [Cheese, Lettuce]]",18.50,9.25
4489,1786,4,Chips and Guacamole,NaN,17.80,4.45

In [49]:
# Select only the product with quantity == 1

chipo_dropped = chipo_dropped[chipo_dropped.quantity == 1]

In [50]:
# Select only item_name & item_price

chipo_dropped = chipo_dropped.loc[:, ["item_name", "item_price"]]
chipo_dropped

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
5                              Chicken Bowl       10.98
6                             Side of Chips        1.69
7                             Steak Burrito       11.75
8                          Steak Soft Tacos        9.25
10                      Chips and Guacamole        4.45
11                     Chicken Crispy Tacos        8.75
12                       Chicken Soft Tacos        8.75
16                          Chicken Burrito        8.49
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
28                              Canned Soda        1.09
33                            Carnitas Bowl        8.99
34                            Bottled Water        1.09
38    Chips and Tomatillo Green Chili Salsa        2.95
39                            Barbacoa Bowl       11.75
40                                    Chips        2.15
44                       Chicken Salad Bowl        8.75
54                               Steak Bowl        8.99
56                      Barbacoa Soft Tacos        9.25
57                           Veggie Burrito       11.25
62                              Veggie Bowl       11.25
92                       Steak Crispy Tacos        9.25
111     Chips and Tomatillo Red Chili Salsa        2.95
168                   Barbacoa Crispy Tacos       11.75
186                       Veggie Salad Bowl       11.25
191      Chips and Roasted Chili-Corn Salsa        2.39
233      Chips and Roasted Chili Corn Salsa        2.95
237                     Carnitas Soft Tacos        9.25
250                           Chicken Salad       10.98
263                       Canned Soft Drink        1.25
298                       6 Pack Soft Drink        6.49
300     Chips and Tomatillo-Red Chili Salsa        2.39
510                                 Burrito        7.40
520                            Crispy Tacos        7.40
554                   Carnitas Crispy Tacos        9.25
606                        Steak Salad Bowl       11.89
664                             Steak Salad        8.99
673                                    Bowl        7.40
674       Chips and Mild Fresh Tomato Salsa        3.00
738                       Veggie Soft Tacos       11.25
1132                    Carnitas Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
1414                                  Salad        7.40
1653                    Veggie Crispy Tacos        8.49
1694                           Veggie Salad        8.49
3750                         Carnitas Salad        8.99

In [51]:
chipo[["item_name", "item_price"]]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

In [58]:
# sort values per price

chipo_dropped.sort_values(by="item_price", ascending=False, inplace=True)
chipo_dropped

                                  item_name  item_price
606                        Steak Salad Bowl       11.89
1132                    Carnitas Salad Bowl       11.89
1229                    Barbacoa Salad Bowl       11.89
7                             Steak Burrito       11.75
39                            Barbacoa Bowl       11.75
168                   Barbacoa Crispy Tacos       11.75
738                       Veggie Soft Tacos       11.25
186                       Veggie Salad Bowl       11.25
62                              Veggie Bowl       11.25
57                           Veggie Burrito       11.25
250                           Chicken Salad       10.98
5                              Chicken Bowl       10.98
56                      Barbacoa Soft Tacos        9.25
92                       Steak Crispy Tacos        9.25
554                   Carnitas Crispy Tacos        9.25
237                     Carnitas Soft Tacos        9.25
8                          Steak Soft Tacos        9.25
664                             Steak Salad        8.99
54                               Steak Bowl        8.99
3750                         Carnitas Salad        8.99
21                         Barbacoa Burrito        8.99
27                         Carnitas Burrito        8.99
33                            Carnitas Bowl        8.99
12                       Chicken Soft Tacos        8.75
44                       Chicken Salad Bowl        8.75
11                     Chicken Crispy Tacos        8.75
1653                    Veggie Crispy Tacos        8.49
16                          Chicken Burrito        8.49
1694                           Veggie Salad        8.49
1414                                  Salad        7.40
510                                 Burrito        7.40
520                            Crispy Tacos        7.40
673                                    Bowl        7.40
298                       6 Pack Soft Drink        6.49
10                      Chips and Guacamole        4.45
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
674       Chips and Mild Fresh Tomato Salsa        3.00
111     Chips and Tomatillo Red Chili Salsa        2.95
233      Chips and Roasted Chili Corn Salsa        2.95
38    Chips and Tomatillo Green Chili Salsa        2.95
3     Chips and Tomatillo-Green Chili Salsa        2.39
300     Chips and Tomatillo-Red Chili Salsa        2.39
191      Chips and Roasted Chili-Corn Salsa        2.39
0              Chips and Fresh Tomato Salsa        2.39
40                                    Chips        2.15
6                             Side of Chips        1.69
263                       Canned Soft Drink        1.25
28                              Canned Soda        1.09
34                            Bottled Water        1.09

In [77]:
chipo[["item_name", "item_price"]]

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [59]:
chipo

,order_id,quantity,item_name,choice_description,item_price,unity_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

In [60]:
chipo.item_name.sort_values()

# OR

chipo.sort_values(by="item_name")

,order_id,quantity,item_name,choice_description,item_price,unity_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered?

V1

In [63]:
chipo[chipo.quantity == chipo.quantity.max()]

,order_id,quantity,item_name,choice_description,item_price,unity_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,2.95

In [73]:
k = chipo.groupby("item_name").max()
l = chipo[chipo.unity_price == max(chipo.unity_price)]
l.groupby("item_name").count()

,order_id,quantity,choice_description,item_price,unity_price
item_name,,,,,
Barbacoa Salad Bowl,5,5,5,5,5
Carnitas Salad Bowl,4,4,4,4,4
Steak Salad Bowl,19,19,19,19,19

In [78]:
l.item_name.value_counts()

Steak Salad Bowl       19
Barbacoa Salad Bowl     5
Carnitas Salad Bowl     4
Name: item_name, dtype: int64

V2

In [67]:
k_2 = chipo.groupby("item_name").max()
k_2.reset_index()

,item_name,order_id,quantity,choice_description,item_price,unity_price
0,6 Pack Soft Drink,1803,2,[Sprite],12.98,6.49
1,Barbacoa Bowl,1825,1,"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...",11.75,11.75
2,Barbacoa Burrito,1827,1,"[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomat...",11.75,11.75
3,Barbacoa Crispy Tacos,1330,2,"[[Roasted Chili Corn Salsa (Medium), Tomatillo...",18.50,11.75
4,Barbacoa Salad Bowl,1751,1,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",11.89,11.89
5,Barbacoa Soft Tacos,1703,1,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",11.75,11.75
6,Bottled Water,1831,10,NaN,15.00,1.50
7,Bowl,279,3,"[Braised Carnitas, Pinto Beans, [Sour Cream, C...",22.20,7.40
8,Burrito,313,1,"[White Rice, Adobo-Marinated and Grilled Steak...",7.40,7.40
9,Canned Soda,1621,4,[Sprite],4.36,1.09
10,Canned Soft Drink,1829,4,[Sprite],5.00,1.25
11,Carnitas Bowl,1831,3,"[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomat...",35.25,11.75
12,Carnitas Burrito,1821,2,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",18.50,11.75
13,Carnitas Crispy Tacos,1774,2,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",17.98,11.75
14,Carnitas Salad,1500,1,"[[Fresh Tomato Salsa (Mild), Roasted Chili Cor...",8.99,8.99
15,Carnitas Salad Bowl,1692,1,"[Tomatillo Green Chili Salsa, [Rice, Pinto Bea...",11.89,11.89
16,Carnitas Soft Tacos,1811,1,"[Tomatillo-Red Chili Salsa (Hot), [Cheese, Sou...",11.75,11.75
17,Chicken Bowl,1828,3,"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...",32.94,11.25
18,Chicken Burrito,1817,4,"[[Tomatillo-Red Chili Salsa (Hot), Tomatillo-G...",35.00,11.25
19,Chicken Crispy Tacos,1775,2,"[Tomatillo-Green Chili Salsa (Medium), [Black ...",17.50,11.25
20,Chicken Salad,1598,1,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",10.98,10.98
21,Chicken Salad Bowl,1834,2,"[Tomatillo Red Chili Salsa, [Rice, Fajita Vege...",22.50,11.25
22,Chicken Soft Tacos,1832,2,"[[Tomatillo-Red Chili Salsa (Hot), Roasted Chi...",21.96,11.25
23,Chips,1831,3,NaN,6.45,2.15
24,Chips and Fresh Tomato Salsa,1790,15,NaN,44.25,2.95
25,Chips and Guacamole,1832,4,NaN,17.80,4.45
26,Chips and Mild Fresh Tomato Salsa,279,1,NaN,3.00,3.00
27,Chips and Roasted Chili Corn Salsa,1513,2,NaN,5.90,2.95
28,Chips and Roasted Chili-Corn Salsa,1565,1,NaN,2.39,2.39
29,Chips and Tomatillo Green Chili Salsa,1787,2,NaN,5.90,2.95
30,Chips and Tomatillo Red Chili Salsa,1779,2,NaN,5.90,2.95
31,Chips and Tomatillo-Green Chili Salsa,1604,2,NaN,4.78,2.39
32,Chips and Tomatillo-Red Chili Salsa,1637,3,NaN,7.17,2.39
33,Crispy Tacos,217,1,[Adobo-Marinated and Grilled Steak],7.40,7.40
34,Izze,1468,1,[Grapefruit],3.39,3.39
35,Nantucket Nectar,1632,2,[Pomegranate Cherry],6.78,3.39
36,Salad,575,1,"[White Rice, Adobo-Marinated and Grilled Chick...",7.40,7.40
37,Side of Chips,1629,8,NaN,13.52,1.69
38,Steak Bowl,1796,3,"[[Tomatillo-Red Chili Salsa (Hot), Fresh Tomat...",26.07,11.75
39,Steak Burrito,1833,3,"[[Tomatillo-Green Chili Salsa (Medium), Tomati...",27.75,11.75
40,Steak Crispy Tacos,1810,2,"[[Roasted Chili Corn Salsa (Medium), Tomatillo...",17.98,11.75
41,Steak Salad,1406,1,"[[Lettuce, Fajita Veggies]]",8.99,8.99
42,Steak Salad Bowl,1818,2,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",23.78,11.89
43,Steak Soft Tacos,1808,2,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",18.50,11.75
44,Veggie Bowl,1780,2,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",16.98,11.25
45,Veggie Burrito,1830,3,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",33.75,11.25
46,Veggie Crispy Tacos,668,1,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49
47,Veggie Salad,1635,1,"[[Tomatillo-Green Chili Salsa (Medium), Roaste...",8.49,8.49
48,Veggie Salad Bowl,1818,1,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25,11.25
49,Veggie Soft Tacos,1559,2,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",16.98,11.25

In [ ]:
k_2.reset_index()

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [9]:
chipo_salad = chipo[chipo.item_name == "Veggie Salad Bowl"]

len(chipo_salad)

18

In [26]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [19]:
chipo.where(chipo.item_name == "Veggie Salad Bowl").groupby("item_name").sum()

                   order_id  quantity  item_price
item_name
Veggie Salad Bowl   17303.0      18.0       182.5

In [25]:
chipo.item_name.value_counts()["Veggie Salad Bowl"]

18

In [16]:
chipo8 = chipo.groupby("item_name").sum()
chipo8.sort_values("quantity", ascending=False)

                                       order_id  quantity  item_price
item_name
Chicken Bowl                             713926       761     7342.73
Chicken Burrito                          497303       591     5575.82
Chips and Guacamole                      449959       506     2201.04
Steak Burrito                            328437       386     3851.43
Canned Soft Drink                        304753       351      438.75
Chips                                    208004       230      494.34
Steak Bowl                               193752       221     2260.19
Bottled Water                            175944       211      302.56
Chips and Fresh Tomato Salsa             100419       130      361.36
Canned Soda                               76396       126      137.34
Chicken Salad Bowl                       117104       123     1228.75
Chicken Soft Tacos                        98395       120     1108.09
Side of Chips                             84769       110      185.90
Veggie Burrito                            80962        97      934.77
Barbacoa Burrito                          74718        91      894.75
Veggie Bowl                               72270        87      867.99
Carnitas Bowl                             62742        71      736.71
Barbacoa Bowl                             53972        66      672.36
Carnitas Burrito                          51652        60      597.83
Steak Soft Tacos                          50177        56      536.05
6 Pack Soft Drink                         52322        55      356.95
Chips and Tomatillo Red Chili Salsa       45556        50      147.50
Chicken Crispy Tacos                      47382        50      472.13
Chips and Tomatillo Green Chili Salsa     41170        45      132.75
Carnitas Soft Tacos                       37673        40      375.94
Steak Crispy Tacos                        35818        36      357.34
Chips and Tomatillo-Green Chili Salsa     21826        33       78.87
Steak Salad Bowl                          29590        31      343.59
Nantucket Nectar                          21814        29       98.31
Chips and Tomatillo-Red Chili Salsa       18344        25       59.75
Barbacoa Soft Tacos                       18725        25      250.46
Chips and Roasted Chili Corn Salsa        14999        23       67.85
Izze                                      10587        20       67.80
Veggie Salad Bowl                         17303        18      182.50
Chips and Roasted Chili-Corn Salsa        17462        18       43.02
Barbacoa Crispy Tacos                      5613        12      120.21
Barbacoa Salad Bowl                        9708        10      106.40
Chicken Salad                             10465         9       81.09
Carnitas Crispy Tacos                      5868         8       77.96
Veggie Soft Tacos                          5520         8       73.96
Burrito                                    1550         6       44.40
Veggie Salad                               7265         6       50.94
Carnitas Salad Bowl                        6693         6       66.34
Bowl                                        472         4       29.60
Steak Salad                                2362         4       35.66
Salad                                      1150         2       14.80
Crispy Tacos                                434         2       14.80
Chips and Mild Fresh Tomato Salsa           279         1        3.00
Carnitas Salad                             1500         1        8.99
Veggie Crispy Tacos                         668         1        8.49

### Step 9. How many times did someone order more than one Canned Soda?

In [28]:
chipo_drink_steak_bowl = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)]
#chipo_drink_steak_bowl
len(chipo_drink_steak_bowl)

20

In [37]:
chipo_drink_steak_bowl2 = (chipo.item_name == "Canned Soda") & (chipo.quantity > 1)
chipo_drink_steak_bowl2.sum()

20