# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [7]:
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
from pandas_datareader import data, wb

# package for dates
import datetime as dt

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [8]:
start = dt.datetime(2015, 1, 1)

end = dt.datetime.today()

start

datetime.datetime(2015, 1, 1, 0, 0)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

In [9]:
stocks = ['AAPL', 'TSLA', 'IBM', 'LNKD']

### Step 4. Read the data from google, assign to df and print it

In [10]:
df = data.DataReader(stocks, "yahoo", start, end)
df

Attributes   Adj Close                                     Close               \
Symbols           AAPL         TSLA         IBM LNKD        AAPL         TSLA
Date
2015-01-02   99.945885   219.309998  127.531136  NaN  109.330002   219.309998
2015-01-05   97.130241   210.089996  125.524490  NaN  106.250000   210.089996
2015-01-06   97.139420   211.279999  122.817429  NaN  106.260002   211.279999
2015-01-07   98.501518   210.949997  122.014748  NaN  107.750000   210.949997
2015-01-08  102.286186   210.619995  124.666725  NaN  111.889999   210.619995
...                ...          ...         ...  ...         ...          ...
2020-07-22  389.089996  1592.329956  128.669998  NaN  389.089996  1592.329956
2020-07-23  371.380005  1513.069946  127.330002  NaN  371.380005  1513.069946
2020-07-24  370.459991  1417.000000  125.790001  NaN  370.459991  1417.000000
2020-07-27  379.239990  1539.599976  126.209999  NaN  379.239990  1539.599976
2020-07-28  373.010010  1476.489990  124.470001  NaN  373.010010  1476.489990

Attributes                         High               ...         Low       \
Symbols            IBM LNKD        AAPL         TSLA  ...         IBM LNKD
Date                                                  ...
2015-01-02  162.059998  NaN  111.440002   223.250000  ...  161.000000  NaN
2015-01-05  159.509995  NaN  108.650002   216.500000  ...  159.190002  NaN
2015-01-06  156.070007  NaN  107.430000   214.199997  ...  155.169998  NaN
2015-01-07  155.050003  NaN  108.199997   214.779999  ...  154.029999  NaN
2015-01-08  158.419998  NaN  112.150002   213.800003  ...  155.550003  NaN
...                ...  ...         ...          ...  ...         ...  ...
2020-07-22  128.669998  NaN  391.899994  1626.420044  ...  125.800003  NaN
2020-07-23  127.330002  NaN  388.309998  1689.000000  ...  127.150002  NaN
2020-07-24  125.790001  NaN  371.880005  1465.000000  ...  125.500000  NaN
2020-07-27  126.209999  NaN  379.619995  1547.939941  ...  124.709999  NaN
2020-07-28  124.470001  NaN  378.200012  1564.699951  ...  124.150002  NaN

Attributes        Open                                    Volume              \
Symbols           AAPL         TSLA         IBM LNKD        AAPL        TSLA
Date
2015-01-02  111.389999   222.869995  161.309998  NaN  53204600.0   4764400.0
2015-01-05  108.290001   214.550003  161.270004  NaN  64285500.0   5368500.0
2015-01-06  106.540001   210.059998  159.669998  NaN  65797100.0   6261900.0
2015-01-07  107.199997   213.350006  157.199997  NaN  40105900.0   2968400.0
2015-01-08  109.230003   212.809998  156.240005  NaN  59364500.0   3442500.0
...                ...          ...         ...  ...         ...         ...
2020-07-22  386.769989  1599.000000  125.900002  NaN  22250400.0  14161100.0
2020-07-23  387.989990  1678.949951  129.100006  NaN  49251100.0  24328500.0
2020-07-24  363.950012  1416.010010  126.480003  NaN  46359700.0  19396600.0
2020-07-27  374.839996  1435.000000  124.860001  NaN  30303500.0  16048700.0
2020-07-28  377.470001  1504.000000  125.820000  NaN  25864000.0  15773400.0

Attributes
Symbols           IBM LNKD
Date
2015-01-02  5525500.0  NaN
2015-01-05  4880400.0  NaN
2015-01-06  6146700.0  NaN
2015-01-07  4701800.0  NaN
2015-01-08  4236800.0  NaN
...               ...  ...
2020-07-22  8195400.0  NaN
2020-07-23  4220100.0  NaN
2020-07-24  3531100.0  NaN
2020-07-27  3733400.0  NaN
2020-07-28  4177500.0  NaN

[1402 rows x 24 columns]

### Step 5.  What is the type of structure of df ?

In [5]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
# 'pandas.core.panel.Panel'

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

In [22]:
df.items

<bound method DataFrame.items of Attributes   Adj Close                                     Close               \
Symbols           AAPL         TSLA         IBM LNKD        AAPL         TSLA
Date
2015-01-02   99.945885   219.309998  127.531136  NaN  109.330002   219.309998
2015-01-05   97.130241   210.089996  125.524490  NaN  106.250000   210.089996
2015-01-06   97.139420   211.279999  122.817429  NaN  106.260002   211.279999
2015-01-07   98.501518   210.949997  122.014748  NaN  107.750000   210.949997
2015-01-08  102.286186   210.619995  124.666725  NaN  111.889999   210.619995
...                ...          ...         ...  ...         ...          ...
2020-07-22  389.089996  1592.329956  128.669998  NaN  389.089996  1592.329956
2020-07-23  371.380005  1513.069946  127.330002  NaN  371.380005  1513.069946
2020-07-24  370.459991  1417.000000  125.790001  NaN  370.459991  1417.000000
2020-07-27  379.239990  1539.599976  126.209999  NaN  379.239990  1539.599976
2020-07-28  373.010010  1476.489990  124.470001  NaN  373.010010  1476.489990

Attributes                         High               ...         Low       \
Symbols            IBM LNKD        AAPL         TSLA  ...         IBM LNKD
Date                                                  ...
2015-01-02  162.059998  NaN  111.440002   223.250000  ...  161.000000  NaN
2015-01-05  159.509995  NaN  108.650002   216.500000  ...  159.190002  NaN
2015-01-06  156.070007  NaN  107.430000   214.199997  ...  155.169998  NaN
2015-01-07  155.050003  NaN  108.199997   214.779999  ...  154.029999  NaN
2015-01-08  158.419998  NaN  112.150002   213.800003  ...  155.550003  NaN
...                ...  ...         ...          ...  ...         ...  ...
2020-07-22  128.669998  NaN  391.899994  1626.420044  ...  125.800003  NaN
2020-07-23  127.330002  NaN  388.309998  1689.000000  ...  127.150002  NaN
2020-07-24  125.790001  NaN  371.880005  1465.000000  ...  125.500000  NaN
2020-07-27  126.209999  NaN  379.619995  1547.939941  ...  124.709999  NaN
2020-07-28  124.470001  NaN  378.200012  1564.699951  ...  124.150002  NaN

Attributes        Open                                    Volume              \
Symbols           AAPL         TSLA         IBM LNKD        AAPL        TSLA
Date
2015-01-02  111.389999   222.869995  161.309998  NaN  53204600.0   4764400.0
2015-01-05  108.290001   214.550003  161.270004  NaN  64285500.0   5368500.0
2015-01-06  106.540001   210.059998  159.669998  NaN  65797100.0   6261900.0
2015-01-07  107.199997   213.350006  157.199997  NaN  40105900.0   2968400.0
2015-01-08  109.230003   212.809998  156.240005  NaN  59364500.0   3442500.0
...                ...          ...         ...  ...         ...         ...
2020-07-22  386.769989  1599.000000  125.900002  NaN  22250400.0  14161100.0
2020-07-23  387.989990  1678.949951  129.100006  NaN  49251100.0  24328500.0
2020-07-24  363.950012  1416.010010  126.480003  NaN  46359700.0  19396600.0
2020-07-27  374.839996  1435.000000  124.860001  NaN  30303500.0  16048700.0
2020-07-28  377.470001  1504.000000  125.820000  NaN  25864000.0  15773400.0

Attributes
Symbols           IBM LNKD
Date
2015-01-02  5525500.0  NaN
2015-01-05  4880400.0  NaN
2015-01-06  6146700.0  NaN
2015-01-07  4701800.0  NaN
2015-01-08  4236800.0  NaN
...               ...  ...
2020-07-22  8195400.0  NaN
2020-07-23  4220100.0  NaN
2020-07-24  3531100.0  NaN
2020-07-27  3733400.0  NaN
2020-07-28  4177500.0  NaN

[1402 rows x 24 columns]>

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

In [15]:
vol = df['Volume']
vol

Symbols           AAPL        TSLA        IBM  LNKD
Date
2015-01-02  53204600.0   4764400.0  5525500.0   NaN
2015-01-05  64285500.0   5368500.0  4880400.0   NaN
2015-01-06  65797100.0   6261900.0  6146700.0   NaN
2015-01-07  40105900.0   2968400.0  4701800.0   NaN
2015-01-08  59364500.0   3442500.0  4236800.0   NaN
...                ...         ...        ...   ...
2020-07-22  22250400.0  14161100.0  8195400.0   NaN
2020-07-23  49251100.0  24328500.0  4220100.0   NaN
2020-07-24  46359700.0  19396600.0  3531100.0   NaN
2020-07-27  30303500.0  16048700.0  3733400.0   NaN
2020-07-28  25864000.0  15773400.0  4177500.0   NaN

[1402 rows x 4 columns]

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

In [17]:
vol['week'] = vol.index.week
vol['year'] = vol.index.year

week = vol.groupby(['week','year']).sum()
week

Symbols           AAPL        TSLA         IBM  LNKD
week year
1    2015   53204600.0   4764400.0   5525500.0   0.0
     2016  343790200.0  20975400.0  25253600.0   0.0
     2017  103845500.0  28576400.0  11943500.0   0.0
     2018  136171900.0  29713500.0  31378900.0   0.0
     2019  248189000.0  48890000.0  20960800.0   0.0
...                ...         ...         ...   ...
52   2016   84828600.0  18385800.0   7771300.0   0.0
     2017   97163800.0  17184000.0  10643000.0   0.0
     2018  191160200.0  32237100.0  21630300.0   0.0
     2019   96609500.0  41953900.0   8887200.0   0.0
53   2015  123761500.0  10720500.0  13538600.0   0.0

[292 rows x 4 columns]

### Step 9. Find all the volume traded in the year of 2015

In [19]:
del vol['week']
vol['year'] = vol.index.year

year = vol.groupby(['year']).sum()
year

Symbols          AAPL          TSLA           IBM  LNKD
year
2015     1.306605e+10  1.088218e+09  1.105583e+09   0.0
2016     9.682478e+09  1.162362e+09  1.018606e+09   0.0
2017     6.810776e+09  1.590031e+09  1.071166e+09   0.0
2018     8.539036e+09  2.161639e+09  1.368561e+09   0.0
2019     7.063803e+09  2.308078e+09  9.466952e+08   0.0
2020     5.985785e+09  2.560441e+09  8.681300e+08   0.0

### BONUS: Create your own question and answer it.