Crea un programa que, llamando a una función clean_df(path), lea un archivo leíble por pandas, lo transforme a dataframe y lo limpie si es posible. 

La función clean_df() retornará el dataframe limpiado.

In [37]:
# La url es un ejemplo:
# Para abrir archivos  open()-- nos proporciona el encoding
open(os.path.abspath("/Users/elsa/Desktop/Bootcamp The Bridge/The_Bridge/Ds_Bootcamp_Elsa/Ejercicios/competicion_kaggle/columns_meaning.csv"))

In [36]:
# Ejemplo  abspath nos da la ruta del csv absoluta
import os.path
os.path.abspath("/Users/elsa/Desktop/Bootcamp The Bridge/The_Bridge/Ds_Bootcamp_Elsa/Ejercicios/competicion_kaggle/columns_meaning.csv")

'/Users/elsa/Desktop/Bootcamp The Bridge/The_Bridge/Ds_Bootcamp_Elsa/Ejercicios/competicion_kaggle/columns_meaning.csv'

In [40]:
# Ejemplo con join  rutas con exactamente el separador de directorio

ruta ="/Users/elsa/Desktop/Bootcamp The Bridge/The_Bridge/Ds_Bootcamp_Elsa/Ejercicios/competicion_kaggle/columns_meaning.csv"
os.path.join(os.path.dirname(ruta))

'/Users/elsa/Desktop/Bootcamp The Bridge/The_Bridge/Ds_Bootcamp_Elsa/Ejercicios/competicion_kaggle'

In [ ]:
# Introducimos la ruta del archivo o la url donde estén los datos
path = ""

In [1]:
import pandas as pd
import os.path, sys




def clean_df(path=None):
    
    # Introducimos los datos del archivo en una variable común.
    path = os.path.abspath(input("Copie y pegue la dirección url o el path del archivo csv a importar: "))
    # Creamos el dataframe
    df_cleaned = pd.read_csv(path)
    # Eliminar todas las columnas con un solo valor, o con más de un 50% de valores faltantes, esto lo hacemos para trabajar más rápido.absDetermine si la              fila o columna se elimina de DataFrame, cuando tenemos al menos un NA o todos los NA.
    #Parámetros: 'all': si todos los valores son NA, elimine esa fila o columna.
    df_cleaned.dropna(axis=0, how='all', inplace=True)
    # Eliminar duplicados
    df_cleaned.drop_duplicates(keep=False, inplace=False)
    # Si hay pocos Nan y la columna puede servir podemos cambiar Nan por O
    df_cleaned.fillna(0, inplace=True)


    return df_cleaned

clean_df()

,Avg. Area Income,Avg. Area House Age,Avg. Area Number of Rooms,Avg. Area Number of Bedrooms,Area Population,Price,Address
0,79545.458574,5.682861,7.009188,4.09,23086.800503,1.059034e+06,"208 Michael Ferry Apt. 674\nLaurabury, NE 3701..."
1,79248.642455,6.002900,6.730821,3.09,40173.072174,1.505891e+06,"188 Johnson Views Suite 079\nLake Kathleen, CA..."
2,61287.067179,5.865890,8.512727,5.13,36882.159400,1.058988e+06,"9127 Elizabeth Stravenue\nDanieltown, WI 06482..."
3,63345.240046,7.188236,5.586729,3.26,34310.242831,1.260617e+06,USS Barnett\nFPO AP 44820
4,59982.197226,5.040555,7.839388,4.23,26354.109472,6.309435e+05,USNS Raymond\nFPO AE 09386
...,...,...,...,...,...,...,...
4995,60567.944140,7.830362,6.137356,3.46,22837.361035,1.060194e+06,USNS Williams\nFPO AP 30153-7653
4996,78491.275435,6.999135,6.576763,4.02,25616.115489,1.482618e+06,"PSC 9258, Box 8489\nAPO AA 42991-3352"
4997,63390.686886,7.250591,4.805081,2.13,33266.145490,1.030730e+06,"4215 Tracy Garden Suite 076\nJoshualand, VA 01..."
4998,68001.331235,5.534388,7.130144,5.44,42625.620156,1.198657e+06,USS Wallace\nFPO AE 73316
4999,65510.581804,5.992305,6.792336,4.07,46501.283803,1.298950e+06,"37778 George Ridges Apt. 509\nEast Holly, NV 2..."

En la función clean_df:

- path: representa la ubicación o url de donde pandas lee el archivo a cargar.