### 9. Ejercicios: 

- Crea dos listas: una que tenga 4 nombres de ciudades y otra que tenga 4 lugares emblemáticos de la ciudad.

In [2]:
# Code
nombre_ciudad= ["Madrid", "Paris", "Roma", "Barcelona"]
lugar_emblematico= ["Bernabeu", "Torre_Eiffel", "Vaticano", "Sagrada_Familia"]

### A partir de funciones con diccionarios:

- Crea un diccionario con un entero 5 como key y "val" como su value.

In [2]:
# Code
mi_diccionario={5:"val"}

- Crea una función que a reciba dos listas 'lista1' y 'lista2' por parámetro y retorne un diccionario teniendo como keys cada elemento de 'lista1' y como values los elementos de 'lista2'. Llama a la función con las listas que has creado antes para que devuelva un diccionario con cada ciudad como key asociado a un lugar emblemático como value.

In [3]:
def diccionario(lista1,lista2):  
    dic= dict(zip(lista1,lista2))
    print(dic)
    return dic
diccionario(lista1=nombre_ciudad, lista2=lugar_emblematico)

{'Madrid': 'Bernabeu', 'Paris': 'Torre_Eiffel', 'Roma': 'Vaticano', 'Barcelona': 'Sagrada_Familia'}

{'Madrid': 'Bernabeu',
 'Paris': 'Torre_Eiffel',
 'Roma': 'Vaticano',
 'Barcelona': 'Sagrada_Familia'}

In [27]:
# Code d[k].append(v)
def diccionario(lista1,lista2):  
    for k,v in zip(lista1,lista2):
        print(dict(zip(lista1,lista2)))
        return 
diccionario(lista1=nombre_ciudad, lista2=lugar_emblematico)

{'Madrid': 'Bernabeu', 'Paris': 'Torre_Eiffel', 'Roma': 'Vaticano', 'Barcelona': 'Sagrada_Familia'}

*Hay que utilizar la lista de alumn@s con sus nombres y alturas*

- Crea una función que, a partir de dos listas, retorne un diccionario en el que cada key sea el nombre de un alumno y su value debe ser la altura.

In [4]:
# Code
lista_alumnos = [["Jalex", 6,47, 1.80], ["Tomas", 5,31, 1.80], ["David", 6,39, 1.81], ["Natalio", 2,29, 1.73], ["Monica", 3,47, 1.73], ["Roxanna", 4,24,1.75], ["Filipa", 5,34,1.64], ["Elsa", 4, 36, 1.89], ["Cristina", 3, 46, 1.70], ["Clara", 6, 29, 1.67], ["Alba", 3, 29, 1.68], ["Valeria",1, 40, 1.60], ["J.Luis", 4, 47, 1.69], ["Gabriel", 1, 28, 1.76], ["Rochi", 2, 38, 1.60], ["J.Maria", 5, 51, 1.75]]

In [7]:
d={}
for elem in lista_alumnos:
    print(elem[0], elem[3])
    d[elem[0]]=elem[3]
d

Jalex 1.8
Tomas 1.8
David 1.81
Natalio 1.73
Monica 1.73
Roxanna 1.75
Filipa 1.64
Elsa 1.89
Cristina 1.7
Clara 1.67
Alba 1.68
Valeria 1.6
J.Luis 1.69
Gabriel 1.76
Rochi 1.6
J.Maria 1.75

{'Jalex': 1.8,
 'Tomas': 1.8,
 'David': 1.81,
 'Natalio': 1.73,
 'Monica': 1.73,
 'Roxanna': 1.75,
 'Filipa': 1.64,
 'Elsa': 1.89,
 'Cristina': 1.7,
 'Clara': 1.67,
 'Alba': 1.68,
 'Valeria': 1.6,
 'J.Luis': 1.69,
 'Gabriel': 1.76,
 'Rochi': 1.6,
 'J.Maria': 1.75}

In [6]:
def alumnos():
    alum = {}
    pos=0
       
            
        # solo nos interesa aquellos datos de la lista que son tuplas
    if isinstance(pos, list):
            # si en el diccionario resultante no tengo esa clave, la inicializó
        if elem[0] not in resultado:
            resultado[lista_alumno[0]] = []
            # agrego el valor a la clave del diccionario
            # para prueba = (’hematies’, 4430000)
            # clave: prueba[0] => 'hematies'
            # valor: prueba[1] => 4430000
            pos +=1
        resultado[lista_alumnos[0]].append(lista_alumnos[1])
alumnos()

In [21]:
def alumnos():
    lista_alumnos=dict(lista_alumnos)
    alum = {}
    for k,v in alum.items():
         d(k).append(v)

In [22]:
new_dict = {}

for nombre, altura in lista_alumnos:
    if  len(lista_alumnos)==list:
        
        if  in new_dict:
            new_dict['18-24'] += (', ' + nombre)
        else:
            new_dict['18-24'] = nombre

    elif 25 <= edad <= 35:
        if '25-35' in new_dict:
            new_dict['25-35'] += (', ' + nombre)
        else:
            new_dict['25-35'] = nombre

ValueError: dictionary update sequence element #0 has length 4; 2 is required

In [ ]:
l = [('A', 1), ('B', 2), ('C', 3), ('A', 5), ('D', 0), ('D', 9)]

# A solution
d = dict()
[d [t [0]].append(t [1]) if t [0] in list(d.keys()) 
 else d.update({t [0]: [t [1]]}) for t in l]
d

OUTPUT: {'A': [1, 5], 'B': [2], 'C': [3], 'D': [0, 9]}

In [33]:
lista_alumnos
for elem in lista_alumnos:
    if type(elem) == list:
        dic[elem[0]]=elem[3]
print(lista_alumnos)

[['Jalex', 6, 47, 1.8], ['Gabriel', 1, 28, 1.76], ['Rochi', 2, 38, 1.6], ['J.Maria', 5, 51, 1.75]]

In [9]:
dic={}
dic["Jalex"]=1.8
dic["Tomas"]=1,80
print(dic)

{'Jalex': 1.8, 'Tomas': (1, 80)}

In [25]:
def f_(lista):
    for elem in lista:
        if type(elem) == list:
            if elem in lista:
                lista.pop(elem[2])
            continue  
        
f_(lista=lista_alumnos)

IndexError: pop index out of range

In [29]:
lista_alumnos

[['Jalex', 6, 47, 1.8],
 ['Gabriel', 1, 28, 1.76],
 ['Rochi', 2, 38, 1.6],
 ['J.Maria', 5, 51, 1.75]]

In [30]:
for i,elem in enumerate(lista_alumnos):
        if isinstance(elem, list):
            if elem in lista_alumnos:
                lista_alumnos.pop([1])
print(lista_alumnos)

TypeError: 'list' object cannot be interpreted as an integer