# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [29]:
url = address
chipo = pd.read_csv(url, sep = "\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [11]:
#solucion:

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25

In [7]:
# codigo:
chipo[0:10]

,order_id,quantity,item_name,choice_description,item_price
0,1,10,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [ ]:
# otra solucion de clase:
chipo.loc[:9] # empieza en los valores del indice

In [ ]:
chipo.iloc[0:10] # toma la posicion de los elementos

In [ ]:
# otra solucion de clase:
chipo.head(10)

In [6]:
# clase, esta no es la solucion:
j = chipo.head(10)
j.quantity[0]=10  # con el = modificamos las variables de quantity en chipo. Los dataFrame se pueden modificar, chipo.quantity[2]=11 asi modificamos los datos
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,10,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

In [ ]:
# Para que no suceda modificaciones en chipo en el archivo original. Para ello es mucho mejor hacer un copy
x=chipo.copy()

### Step 5. What is the number of observations in the dataset?

In [18]:
# Solution 1
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [ ]:
# otra solucion de clase:
chipo.shape[0]

In [ ]:
# otra solucion de clase:
len(chipo.index)

In [5]:
# Solution 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [181]:
len(chipo.columns)

5

5

### Step 7. Print the name of all the columns.

In [182]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [ ]:
# otra solucion de clase:
chipo.shape[1]

In [ ]:
# otra solucion de clase:
list(chipo.colums)

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [14]:
chipo["item_name"].max()

'Veggie Soft Tacos'

In [183]:
chipo.item_name.value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

In [30]:
a = chipo.groupby(["item_name"]).sum() # puedes agrupar varias columnas ["item_name", "quantity"]
a

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       130
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [31]:
a.sort_values("quantity",ascending=False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [23]:
# otra solucion de clase: el indice toma la columna que estamos 
c = chipo.groupby("item_name").sum()
c

                                       order_id  quantity
item_name
6 Pack Soft Drink                         52322        55
Barbacoa Bowl                             53972        66
Barbacoa Burrito                          74718        91
Barbacoa Crispy Tacos                      5613        12
Barbacoa Salad Bowl                        9708        10
Barbacoa Soft Tacos                       18725        25
Bottled Water                            175944       211
Bowl                                        472         4
Burrito                                    1550         6
Canned Soda                               76396       126
Canned Soft Drink                        304753       351
Carnitas Bowl                             62742        71
Carnitas Burrito                          51652        60
Carnitas Crispy Tacos                      5868         8
Carnitas Salad                             1500         1
Carnitas Salad Bowl                        6693         6
Carnitas Soft Tacos                       37673        40
Chicken Bowl                             713926       761
Chicken Burrito                          497303       591
Chicken Crispy Tacos                      47382        50
Chicken Salad                             10465         9
Chicken Salad Bowl                       117104       123
Chicken Soft Tacos                        98395       120
Chips                                    208004       230
Chips and Fresh Tomato Salsa             100419       139
Chips and Guacamole                      449959       506
Chips and Mild Fresh Tomato Salsa           279         1
Chips and Roasted Chili Corn Salsa        14999        23
Chips and Roasted Chili-Corn Salsa        17462        18
Chips and Tomatillo Green Chili Salsa     41170        45
Chips and Tomatillo Red Chili Salsa       45556        50
Chips and Tomatillo-Green Chili Salsa     21826        33
Chips and Tomatillo-Red Chili Salsa       18344        25
Crispy Tacos                                434         2
Izze                                      10587        20
Nantucket Nectar                          21814        29
Salad                                      1150         2
Side of Chips                             84769       110
Steak Bowl                               193752       221
Steak Burrito                            328437       386
Steak Crispy Tacos                        35818        36
Steak Salad                                2362         4
Steak Salad Bowl                          29590        31
Steak Soft Tacos                          50177        56
Veggie Bowl                               72270        87
Veggie Burrito                            80962        97
Veggie Crispy Tacos                         668         1
Veggie Salad                               7265         6
Veggie Salad Bowl                         17303        18
Veggie Soft Tacos                          5520         8

In [ ]:
# para máscaras
c["quantity"] == 761

In [25]:
#mascaras
k=c[c["quantity"] == 761] ### devuelve todas las filas que sean True
k

# En mascaras and = & y or =|  (|= alt+1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [ ]:
# en este caso recoge solo la columna quantity
c = chipo.groupby("item_name").sum()["quantity"]
# solo nos suma la serie, siendo cada serie una columna, de quantity
# groupby siempr espera una operacion

In [26]:
# otra solucion de clase: el indice toma la columna que estamos 
c = chipo.groupby("item_name").sum().max()
c

order_id    713926
quantity       761
dtype: int64

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [186]:
a = chipo.groupby(["item_name"]).sum()
a.sort_values("order_id").tail(1)  ## no se debe ordenar por order_id sino con "quantity"

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [ ]:
# otra solucion de clase: el indice toma la columna que estamos 
c = chipo.groupby("item_name").sum()
a.sort_values("quantity")
# TERMINAR DE CORREGUIR

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

In [187]:
b = chipo.groupby(["choice_description"]).sum()
b.sort_values("order_id").tail(1) #### es con quantity!!!

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [188]:
c = chipo.groupby(["item_name"]).sum().sort_values("quantity").sum()
c

order_id    4285772
quantity       4972
dtype: int64

In [32]:
# otra solucion
total_items_order = chipo.quantity.sum()
total_items_order

4972

In [194]:
c = chipo.groupby(["item_name"]).sum()
c.sort_values("quantity").sum()

order_id    4285772
quantity       4972
dtype: int64

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [196]:
chipo["item_price"].dtype

dtype('O')

In [33]:
#otra solucion
chipo.item_price.dtype

dtype('O')

In [ ]:
# solucion : dtype("0")
# OUTPUT: dtype('O') -->Un tipo ‘O’ solo significa “objeto” que en el mundo de Pandas es una secuencia de caracteres (texto).

#### Step 13.b. Create a lambda function and change the type of item price

Tienes tres opciones principales para convertir tipos en pandas:

to_numeric() - proporciona funcionalidad para convertir de forma segura tipos no numéricos (por ejemplo, cadenas) a un tipo numérico adecuado. (Ver también to_datetime() y to_timedelta() .)

astype() - convierte (casi) cualquier tipo a (casi) cualquier otro tipo (incluso si no es necesariamente sensato hacerlo). También le permite convertir a categorial tipos (muy útil).

infer_objects() - un método de utilidad para convertir columnas de objetos que contienen objetos de Python a un tipo de pandas si es posible.

La mejor manera de convertir una o más columnas de un DataFrame a valores numéricos es usar pandas.to_numeric().
>>> pd.to_numeric(s) # convert everything to float values

In [ ]:
def dollarizer_(x):
    return float(x[1:])

In [ ]:
dollarizer_= lambda x: float(x[1:-1])
chipo.item_price=chipo.item_price.apply(dollarizer_)

In [197]:
chipo['item_price'] = chipo['item_price'].apply(lambda x: float(str(x)[1:]))
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

#### Step 13.c. Check the item price type

In [198]:
chipo["item_price"].dtype

dtype('float64')

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

In [199]:
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

In [205]:
ganancias= chipo["quantity"] * chipo["item_price"]
print("$", ganancias.sum())

$ 39237.02

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

In [208]:
max=chipo["order_id"].max()
max

1834

In [34]:
# otra forma
max(chipo.order_id)

1834

In [40]:
orders = chipo.order_id.value_counts().count()
orders

1834

1834

### Step 16. What is the average revenue amount per order?

In [220]:
x=ganancias/max
x

0       0.001303
1       0.001848
2       0.001848
3       0.001303
4       0.018517
          ...
4617    0.006407
4618    0.006407
4619    0.006134
4620    0.004771
4621    0.004771
Length: 4622, dtype: float64

In [224]:
x=(chipo["item_price"]*chipo["quantity"]).sum()
z=(x/max)
z

21.39423118865867

In [31]:
# Solution 1

21.394231188658654

In [32]:
# Solution 2

21.394231188658654

### Step 17. How many different items are sold?

In [243]:
type((chipo.item_name.unique()))

numpy.ndarray

In [246]:
len(chipo.item_name.unique())

50

In [241]:
type(chipo.item_name.value_counts())

pandas.core.series.Series

In [247]:
chipo.item_name.value_counts().count()

50

50