# Ex2 - Getting and Knowing your Data



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

In [2]:
address = "https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv"

### Step 3. Assign it to a variable called chipo.

In [3]:
url = address
chipo = pd.read_csv(url, sep = "\t")
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 4. See the first 10 entries

In [11]:
#solucion:

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25

In [5]:
# codigo:
chipo[0:9]

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25

### Step 5. What is the number of observations in the dataset?

In [18]:
# Solution 1
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [5]:
# Solution 2

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB

### Step 6. What is the number of columns in the dataset?

In [9]:
len(chipo.columns)

5

5

### Step 7. Print the name of all the columns.

In [6]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [12]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [28]:
chipo.groupby(["item_name"]).mean()

                                          order_id  quantity
item_name
6 Pack Soft Drink                       968.925926  1.018519
Barbacoa Bowl                           817.757576  1.000000
Barbacoa Burrito                        821.076923  1.000000
Barbacoa Crispy Tacos                   510.272727  1.090909
Barbacoa Salad Bowl                     970.800000  1.000000
Barbacoa Soft Tacos                     749.000000  1.000000
Bottled Water                          1086.074074  1.302469
Bowl                                    236.000000  2.000000
Burrito                                 258.333333  1.000000
Canned Soda                             734.576923  1.211538
Canned Soft Drink                      1012.468439  1.166113
Carnitas Bowl                           922.676471  1.044118
Carnitas Burrito                        875.457627  1.016949
Carnitas Crispy Tacos                   838.285714  1.142857
Carnitas Salad                         1500.000000  1.000000
Carnitas Salad Bowl                    1115.500000  1.000000
Carnitas Soft Tacos                     941.825000  1.000000
Chicken Bowl                            983.369146  1.048209
Chicken Burrito                         899.282098  1.068716
Chicken Crispy Tacos                   1008.127660  1.063830
Chicken Salad                          1162.777778  1.000000
Chicken Salad Bowl                     1064.581818  1.118182
Chicken Soft Tacos                      855.608696  1.043478
Chips                                   985.800948  1.090047
Chips and Fresh Tomato Salsa            912.900000  1.181818
Chips and Guacamole                     939.371608  1.056367
Chips and Mild Fresh Tomato Salsa       279.000000  1.000000
Chips and Roasted Chili Corn Salsa      681.772727  1.045455
Chips and Roasted Chili-Corn Salsa      970.111111  1.000000
Chips and Tomatillo Green Chili Salsa   957.441860  1.046512
Chips and Tomatillo Red Chili Salsa     949.083333  1.041667
Chips and Tomatillo-Green Chili Salsa   704.064516  1.064516
Chips and Tomatillo-Red Chili Salsa     917.200000  1.250000
Crispy Tacos                            217.000000  1.000000
Izze                                    529.350000  1.000000
Nantucket Nectar                        807.925926  1.074074
Salad                                   575.000000  1.000000
Side of Chips                           839.297030  1.089109
Steak Bowl                              918.255924  1.047393
Steak Burrito                           892.491848  1.048913
Steak Crispy Tacos                     1023.371429  1.028571
Steak Salad                             590.500000  1.000000
Steak Salad Bowl                       1020.344828  1.068966
Steak Soft Tacos                        912.309091  1.018182
Veggie Bowl                             850.235294  1.023529
Veggie Burrito                          852.231579  1.021053
Veggie Crispy Tacos                     668.000000  1.000000
Veggie Salad                           1210.833333  1.000000
Veggie Salad Bowl                       961.277778  1.000000
Veggie Soft Tacos                       788.571429  1.142857

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 11. What was the most ordered item in the choice_description column?

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

#### Step 13.c. Check the item price type

dtype('float64')

### Step 14. How much was the revenue for the period in the dataset?

Revenue was: $39237.02

### Step 15. How many orders were made in the period?

1834

### Step 16. What is the average revenue amount per order?

In [31]:
# Solution 1

21.394231188658654

In [32]:
# Solution 2

21.394231188658654

### Step 17. How many different items are sold?

50