In [3]:
import numpy as np

np_array = np.array(lista)

NameError: name 'lista' is not defined

In [4]:
import pandas as pd

df = pd.read_csv("dec_2018_attacks.csv")
df

                         start                         end        source_ip
0   2018-12-01 06:09:25.126252  2018-12-01 06:13:32.126252    87.106.250.46
1   2018-12-02 17:08:51.659516  2018-12-02 17:13:06.659516  124.100.154.251
2   2018-12-02 22:31:34.932660  2018-12-02 22:35:47.932660   162.193.160.52
3   2018-12-03 03:41:24.236627  2018-12-03 03:41:58.236627     3.187.98.222
4   2018-12-04 04:51:10.436412  2018-12-04 04:55:18.436412   12.203.107.201
5   2018-12-04 06:33:49.212236  2018-12-04 06:38:03.212236    189.129.85.67
6   2018-12-05 08:34:28.448176  2018-12-05 08:38:43.448176    130.0.243.199
7   2018-12-06 13:19:19.870073  2018-12-06 13:22:45.870073   119.224.29.115
8   2018-12-07 23:09:16.749674  2018-12-07 23:10:50.749674   81.169.193.182
9   2018-12-10 05:49:18.805774  2018-12-10 05:53:23.805774   184.99.196.253
10  2018-12-10 10:17:56.201382  2018-12-10 10:22:09.201382     96.187.45.99
11  2018-12-11 20:42:42.135463  2018-12-11 20:44:42.135463  232.159.100.161
12  2018-12-12 07:57:40.912757  2018-12-12 07:57:44.912757    214.199.76.60
13  2018-12-13 03:02:37.937394  2018-12-13 03:06:55.937394      185.2.99.58
14  2018-12-13 17:52:32.076269  2018-12-13 17:56:43.076269    153.60.249.72
15  2018-12-14 01:02:33.845786  2018-12-14 01:06:38.845786   122.197.157.59
16  2018-12-14 09:33:16.032817  2018-12-14 09:37:25.032817  121.147.201.245
17  2018-12-14 10:15:50.057193  2018-12-14 10:17:42.057193    115.94.212.74
18  2018-12-18 12:47:32.171941  2018-12-18 12:49:11.171941   121.90.233.205
19  2018-12-23 00:23:46.442783  2018-12-23 00:27:59.442783     48.85.35.228
20  2018-12-23 03:05:14.626905  2018-12-23 03:09:26.626905    62.38.152.194
21  2018-12-23 18:21:52.780180  2018-12-23 18:26:05.780180      8.46.128.35
22  2018-12-24 23:00:04.367951  2018-12-24 23:02:04.367951     97.32.235.17
23  2018-12-25 10:58:42.476592  2018-12-25 11:02:54.476592  113.162.208.193
24  2018-12-25 11:01:04.947973  2018-12-25 11:05:11.947973     49.76.49.155
25  2018-12-26 10:53:43.622708  2018-12-26 10:57:55.622708   25.215.139.208
26  2018-12-26 19:57:11.911521  2018-12-26 20:01:20.911521  196.229.137.227
27  2018-12-28 12:18:55.920246  2018-12-28 12:22:54.920246  209.190.162.180
28  2018-12-29 18:46:09.159686  2018-12-29 18:50:22.159686     78.6.154.160
29  2018-12-29 22:03:32.201530  2018-12-29 22:07:39.201530   211.41.206.218
30  2018-12-30 07:58:56.299054  2018-12-30 08:03:04.299054     151.19.160.7
31  2018-12-30 10:24:32.325926  2018-12-30 10:25:50.325926    42.36.247.249
32  2018-12-30 18:02:10.330542  2018-12-30 18:06:22.330542    31.166.161.10
33  2018-12-30 20:53:05.198396  2018-12-30 20:57:15.198396   216.47.145.212
34  2018-12-31 15:25:24.965666  2018-12-31 15:28:30.965666  220.140.156.223

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 3 columns):
start        35 non-null object
end          35 non-null object
source_ip    35 non-null object
dtypes: object(3)
memory usage: 968.0+ bytes

In [8]:
df["start"] > "2018-01-01"

0     True
1     True
2     True
3     True
4     True
5     True
6     True
7     True
8     True
9     True
10    True
11    True
12    True
13    True
14    True
15    True
16    True
17    True
18    True
19    True
20    True
21    True
22    True
23    True
24    True
25    True
26    True
27    True
28    True
29    True
30    True
31    True
32    True
33    True
34    True
Name: start, dtype: bool

In [7]:
df[df["start"] > "2018-01-01"]

                         start                         end        source_ip
0   2018-12-01 06:09:25.126252  2018-12-01 06:13:32.126252    87.106.250.46
1   2018-12-02 17:08:51.659516  2018-12-02 17:13:06.659516  124.100.154.251
2   2018-12-02 22:31:34.932660  2018-12-02 22:35:47.932660   162.193.160.52
3   2018-12-03 03:41:24.236627  2018-12-03 03:41:58.236627     3.187.98.222
4   2018-12-04 04:51:10.436412  2018-12-04 04:55:18.436412   12.203.107.201
5   2018-12-04 06:33:49.212236  2018-12-04 06:38:03.212236    189.129.85.67
6   2018-12-05 08:34:28.448176  2018-12-05 08:38:43.448176    130.0.243.199
7   2018-12-06 13:19:19.870073  2018-12-06 13:22:45.870073   119.224.29.115
8   2018-12-07 23:09:16.749674  2018-12-07 23:10:50.749674   81.169.193.182
9   2018-12-10 05:49:18.805774  2018-12-10 05:53:23.805774   184.99.196.253
10  2018-12-10 10:17:56.201382  2018-12-10 10:22:09.201382     96.187.45.99
11  2018-12-11 20:42:42.135463  2018-12-11 20:44:42.135463  232.159.100.161
12  2018-12-12 07:57:40.912757  2018-12-12 07:57:44.912757    214.199.76.60
13  2018-12-13 03:02:37.937394  2018-12-13 03:06:55.937394      185.2.99.58
14  2018-12-13 17:52:32.076269  2018-12-13 17:56:43.076269    153.60.249.72
15  2018-12-14 01:02:33.845786  2018-12-14 01:06:38.845786   122.197.157.59
16  2018-12-14 09:33:16.032817  2018-12-14 09:37:25.032817  121.147.201.245
17  2018-12-14 10:15:50.057193  2018-12-14 10:17:42.057193    115.94.212.74
18  2018-12-18 12:47:32.171941  2018-12-18 12:49:11.171941   121.90.233.205
19  2018-12-23 00:23:46.442783  2018-12-23 00:27:59.442783     48.85.35.228
20  2018-12-23 03:05:14.626905  2018-12-23 03:09:26.626905    62.38.152.194
21  2018-12-23 18:21:52.780180  2018-12-23 18:26:05.780180      8.46.128.35
22  2018-12-24 23:00:04.367951  2018-12-24 23:02:04.367951     97.32.235.17
23  2018-12-25 10:58:42.476592  2018-12-25 11:02:54.476592  113.162.208.193
24  2018-12-25 11:01:04.947973  2018-12-25 11:05:11.947973     49.76.49.155
25  2018-12-26 10:53:43.622708  2018-12-26 10:57:55.622708   25.215.139.208
26  2018-12-26 19:57:11.911521  2018-12-26 20:01:20.911521  196.229.137.227
27  2018-12-28 12:18:55.920246  2018-12-28 12:22:54.920246  209.190.162.180
28  2018-12-29 18:46:09.159686  2018-12-29 18:50:22.159686     78.6.154.160
29  2018-12-29 22:03:32.201530  2018-12-29 22:07:39.201530   211.41.206.218
30  2018-12-30 07:58:56.299054  2018-12-30 08:03:04.299054     151.19.160.7
31  2018-12-30 10:24:32.325926  2018-12-30 10:25:50.325926    42.36.247.249
32  2018-12-30 18:02:10.330542  2018-12-30 18:06:22.330542    31.166.161.10
33  2018-12-30 20:53:05.198396  2018-12-30 20:57:15.198396   216.47.145.212
34  2018-12-31 15:25:24.965666  2018-12-31 15:28:30.965666  220.140.156.223

In [9]:
df[df["source_ip"] == "87.106.250.46"]

                        start                         end      source_ip
0  2018-12-01 06:09:25.126252  2018-12-01 06:13:32.126252  87.106.250.46

In [10]:
df["source_ip"] == "87.106.250.46"

0      True
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
Name: source_ip, dtype: bool

In [13]:
help(df.groupby)

Help on method groupby in module pandas.core.generic:

groupby(by=None, axis=0, level=None, as_index=True, sort=True, group_keys=True, squeeze=False, observed=False, **kwargs) method of pandas.core.frame.DataFrame instance
    Group DataFrame or Series using a mapper or by a Series of columns.

    A groupby operation involves some combination of splitting the
    object, applying a function, and combining the results. This can be
    used to group large amounts of data and compute operations on these
    groups.

    Parameters
    ----------
    by : mapping, function, label, or list of labels
        Used to determine the groups for the groupby.
        If ``by`` is a function, it's called on each value of the object's
        index. If a dict or Series is passed, the Series or dict VALUES
        will be used to determine the groups (the Series' values are first
        aligned; see ``.align()`` method). If an ndarray is passed, the
        values are used as-is determine the groups. A label or list of
        labels may be passed to group by the columns in ``self``. Notice
        that a tuple is interpreted as a (single) key.
    axis : {0 or 'index', 1 or 'columns'}, default 0
        Split along rows (0) or columns (1).
    level : int, level name, or sequence of such, default None
        If the axis is a MultiIndex (hierarchical), group by a particular
        level or levels.
    as_index : bool, default True
        For aggregated output, return object with group labels as the
        index. Only relevant for DataFrame input. as_index=False is
        effectively "SQL-style" grouped output.
    sort : bool, default True
        Sort group keys. Get better performance by turning this off.
        Note this does not influence the order of observations within each
        group. Groupby preserves the order of rows within each group.
    group_keys : bool, default True
        When calling apply, add group keys to index to identify pieces.
    squeeze : bool, default False
        Reduce the dimensionality of the return type if possible,
        otherwise return a consistent type.
    observed : bool, default False
        This only applies if any of the groupers are Categoricals.
        If True: only show observed values for categorical groupers.
        If False: show all values for categorical groupers.

        .. versionadded:: 0.23.0

    **kwargs
        Optional, only accepts keyword argument 'mutated' and is passed
        to groupby.

    Returns
    -------
    DataFrameGroupBy or SeriesGroupBy
        Depends on the calling object and returns groupby object that
        contains information about the groups.

    See Also
    --------
    resample : Convenience method for frequency conversion and resampling
        of time series.

    Notes
    -----
    See the `user guide
    <http://pandas.pydata.org/pandas-docs/stable/groupby.html>`_ for more.

    Examples
    --------
    >>> df = pd.DataFrame({'Animal': ['Falcon', 'Falcon',
    ...                               'Parrot', 'Parrot'],
    ...                    'Max Speed': [380., 370., 24., 26.]})
    >>> df
       Animal  Max Speed
    0  Falcon      380.0
    1  Falcon      370.0
    2  Parrot       24.0
    3  Parrot       26.0
    >>> df.groupby(['Animal']).mean()
            Max Speed
    Animal
    Falcon      375.0
    Parrot       25.0

    **Hierarchical Indexes**

    We can groupby different levels of a hierarchical index
    using the `level` parameter:

    >>> arrays = [['Falcon', 'Falcon', 'Parrot', 'Parrot'],
    ...           ['Captive', 'Wild', 'Captive', 'Wild']]
    >>> index = pd.MultiIndex.from_arrays(arrays, names=('Animal', 'Type'))
    >>> df = pd.DataFrame({'Max Speed': [390., 350., 30., 20.]},
    ...                   index=index)
    >>> df
                    Max Speed
    Animal Type
    Falcon Captive      390.0
           Wild         350.0
    Parrot Captive       30.0
           Wild          20.0
    >>> df.groupby(level=0).mean()
            Max Speed
    Animal
    Falcon      370.0
    Parrot       25.0
    >>> df.groupby(level=1).mean()
             Max Speed
    Type
    Captive      210.0
    Wild         185.0

In [ ]:
< 
>
<=
>=
==
!=

In [ ]:
and -- &
or -- |

In [1]:
import requests

download_url = "https://raw.githubusercontent.com/fivethirtyeight/data/master/nba-elo/nbaallelo.csv"
target_csv_path = "nba_all_elo.csv"

response = requests.get(download_url)
response.raise_for_status()    # Check that the request was successful
with open(target_csv_path, "wb") as f:
    f.write(response.content)
print("Download ready.")

Download ready.

In [2]:
nba = pd.read_csv("nba_all_elo.csv")
nba

NameError: name 'pd' is not defined

In [17]:
pd.set_option("display.max.columns", None)

In [18]:
nba

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.6349,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN

In [19]:
nba.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126314 entries, 0 to 126313
Data columns (total 23 columns):
gameorder        126314 non-null int64
game_id          126314 non-null object
lg_id            126314 non-null object
_iscopy          126314 non-null int64
year_id          126314 non-null int64
date_game        126314 non-null object
seasongame       126314 non-null int64
is_playoffs      126314 non-null int64
team_id          126314 non-null object
fran_id          126314 non-null object
pts              126314 non-null int64
elo_i            126314 non-null float64
elo_n            126314 non-null float64
win_equiv        126314 non-null float64
opp_id           126314 non-null object
opp_fran         126314 non-null object
opp_pts          126314 non-null int64
opp_elo_i        126314 non-null float64
opp_elo_n        126314 non-null float64
game_location    126314 non-null object
game_result      126314 non-null object
forecast         126314 non-null float64
notes            5424 non-null object
dtypes: float64(6), int64(7), object(10)
memory usage: 22.2+ MB

In [29]:
nba[
    (nba["fran_id"] == "Spurs") &
    (nba["year_id"] > 2010) 
].groupby(["year_id", "game_result"]).count()

                     gameorder  game_id  lg_id  _iscopy  date_game  \
year_id game_result
2011    L                   25       25     25       25         25
        W                   63       63     63       63         63
2012    L                   20       20     20       20         20
        W                   60       60     60       60         60
2013    L                   30       30     30       30         30
        W                   73       73     73       73         73
2014    L                   27       27     27       27         27
        W                   78       78     78       78         78
2015    L                   31       31     31       31         31
        W                   58       58     58       58         58

                     seasongame  is_playoffs  team_id  fran_id  pts  elo_i  \
year_id game_result
2011    L                    25           25       25       25   25     25
        W                    63           63       63       63   63     63
2012    L                    20           20       20       20   20     20
        W                    60           60       60       60   60     60
2013    L                    30           30       30       30   30     30
        W                    73           73       73       73   73     73
2014    L                    27           27       27       27   27     27
        W                    78           78       78       78   78     78
2015    L                    31           31       31       31   31     31
        W                    58           58       58       58   58     58

                     elo_n  win_equiv  opp_id  opp_fran  opp_pts  opp_elo_i  \
year_id game_result
2011    L               25         25      25        25       25         25
        W               63         63      63        63       63         63
2012    L               20         20      20        20       20         20
        W               60         60      60        60       60         60
2013    L               30         30      30        30       30         30
        W               73         73      73        73       73         73
2014    L               27         27      27        27       27         27
        W               78         78      78        78       78         78
2015    L               31         31      31        31       31         31
        W               58         58      58        58       58         58

                     opp_elo_n  game_location  forecast  notes
year_id game_result
2011    L                   25             25        25      0
        W                   63             63        63      0
2012    L                   20             20        20      0
        W                   60             60        60      0
2013    L                   30             30        30      0
        W                   73             73        73      0
2014    L                   27             27        27      0
        W                   78             78        78      0
2015    L                   31             31        31      0
        W                   58             58        58      0

In [38]:
nba["difference"] = nba.pts - nba.opp_pts

In [39]:
nba

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,difference
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN,-2
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN,2
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN,16
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN,-16
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN,-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN,-21
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN,13
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN,-13
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN,-8
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.6349,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN,8

In [44]:
nba["game_location"] = pd.Categorical(nba["game_location"])
nba

,gameorder,game_id,lg_id,_iscopy,year_id,date_game,seasongame,is_playoffs,team_id,fran_id,pts,elo_i,elo_n,win_equiv,opp_id,opp_fran,opp_pts,opp_elo_i,opp_elo_n,game_location,game_result,forecast,notes,difference
0,1,194611010TRH,NBA,0,1947,11/1/1946,1,0,TRH,Huskies,66,1300.0000,1293.2767,40.294830,NYK,Knicks,68,1300.0000,1306.7233,H,L,0.640065,NaN,-2
1,1,194611010TRH,NBA,1,1947,11/1/1946,1,0,NYK,Knicks,68,1300.0000,1306.7233,41.705170,TRH,Huskies,66,1300.0000,1293.2767,A,W,0.359935,NaN,2
2,2,194611020CHS,NBA,0,1947,11/2/1946,1,0,CHS,Stags,63,1300.0000,1309.6521,42.012257,NYK,Knicks,47,1306.7233,1297.0712,H,W,0.631101,NaN,16
3,2,194611020CHS,NBA,1,1947,11/2/1946,2,0,NYK,Knicks,47,1306.7233,1297.0712,40.692783,CHS,Stags,63,1300.0000,1309.6521,A,L,0.368899,NaN,-16
4,3,194611020DTF,NBA,0,1947,11/2/1946,1,0,DTF,Falcons,33,1300.0000,1279.6189,38.864048,WSC,Capitols,50,1300.0000,1320.3811,H,L,0.640065,NaN,-17
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126309,63155,201506110CLE,NBA,0,2015,6/11/2015,100,1,CLE,Cavaliers,82,1723.4149,1704.3949,60.309792,GSW,Warriors,103,1790.9591,1809.9791,H,L,0.546572,NaN,-21
126310,63156,201506140GSW,NBA,0,2015,6/14/2015,102,1,GSW,Warriors,104,1809.9791,1813.6349,68.013329,CLE,Cavaliers,91,1704.3949,1700.7391,H,W,0.765565,NaN,13
126311,63156,201506140GSW,NBA,1,2015,6/14/2015,101,1,CLE,Cavaliers,91,1704.3949,1700.7391,60.010067,GSW,Warriors,104,1809.9791,1813.6349,A,L,0.234435,NaN,-13
126312,63157,201506170CLE,NBA,0,2015,6/16/2015,102,1,CLE,Cavaliers,97,1700.7391,1692.0859,59.290245,GSW,Warriors,105,1813.6349,1822.2881,H,L,0.481450,NaN,-8
126313,63157,201506170CLE,NBA,1,2015,6/16/2015,103,1,GSW,Warriors,105,1813.6349,1822.2881,68.519516,CLE,Cavaliers,97,1700.7391,1692.0859,A,W,0.518550,NaN,8

In [45]:
nba["game_location"].dtype

CategoricalDtype(categories=['A', 'H', 'N'], ordered=False)

In [46]:
pd.get_dummies(nba["game_location"])

game_location  A  H  N
0              0  1  0
1              1  0  0
2              0  1  0
3              1  0  0
4              0  1  0
...           .. .. ..
126309         0  1  0
126310         0  1  0
126311         1  0  0
126312         0  1  0
126313         1  0  0

[126314 rows x 3 columns]

In [47]:
df2 = pd.DataFrame({'A': ['a', 'b', None], 'B': ['b', None, 'c'],
                   'C': [1, 2, 3]})
df2

      A     B  C
0     a     b  1
1     b  None  2
2  None     c  3

In [50]:
help(pd.dropna())

AttributeError: module 'pandas' has no attribute 'dropna'

Determine if row or column is removed from DataFrame, when we have at least one NA or all NA.

‘any’ : If any NA values are present, drop that row or column.

‘all’ : If all values are NA, drop that row or column.

In [51]:
x = df2.dropna()
x

   A  B  C
0  a  b  1

In [52]:
y = df2.dropna(how="all")
y

      A     B  C
0     a     b  1
1     b  None  2
2  None     c  3

In [54]:
nba_all = nba.dropna(how="all")
nba_all.shape

(126314, 24)

In [55]:
nba.shape

(126314, 24)

In [56]:
nba[].isnull().any()

gameorder        False
game_id          False
lg_id            False
_iscopy          False
year_id          False
date_game        False
seasongame       False
is_playoffs      False
team_id          False
fran_id          False
pts              False
elo_i            False
elo_n            False
win_equiv        False
opp_id           False
opp_fran         False
opp_pts          False
opp_elo_i        False
opp_elo_n        False
game_location    False
game_result      False
forecast         False
notes             True
difference       False
dtype: bool

In [58]:
nba[(nba["pts"] > nba["opp_pts"]) & (nba["game_result"] != 'W')].empty

True

In [59]:
n1 = nba.copy()
n2 = nba.copy()

In [62]:
help(pd.concat)

Help on function concat in module pandas.core.reshape.concat:

concat(objs, axis=0, join='outer', join_axes=None, ignore_index=False, keys=None, levels=None, names=None, verify_integrity=False, sort=None, copy=True)
    Concatenate pandas objects along a particular axis with optional set logic
    along the other axes.

    Can also add a layer of hierarchical indexing on the concatenation axis,
    which may be useful if the labels are the same (or overlapping) on
    the passed axis number.

    Parameters
    ----------
    objs : a sequence or mapping of Series or DataFrame objects
        If a dict is passed, the sorted keys will be used as the `keys`
        argument, unless it is passed, in which case the values will be
        selected (see below). Any None objects will be dropped silently unless
        they are all None in which case a ValueError will be raised.
    axis : {0/'index', 1/'columns'}, default 0
        The axis to concatenate along.
    join : {'inner', 'outer'}, default 'outer'
        How to handle indexes on other axis (or axes).
    join_axes : list of Index objects
        .. deprecated:: 0.25.0

        Specific indexes to use for the other n - 1 axes instead of performing
        inner/outer set logic. Use .reindex() before or after concatenation
        as a replacement.
    ignore_index : bool, default False
        If True, do not use the index values along the concatenation axis. The
        resulting axis will be labeled 0, ..., n - 1. This is useful if you are
        concatenating objects where the concatenation axis does not have
        meaningful indexing information. Note the index values on the other
        axes are still respected in the join.
    keys : sequence, default None
        If multiple levels passed, should contain tuples. Construct
        hierarchical index using the passed keys as the outermost level.
    levels : list of sequences, default None
        Specific levels (unique values) to use for constructing a
        MultiIndex. Otherwise they will be inferred from the keys.
    names : list, default None
        Names for the levels in the resulting hierarchical index.
    verify_integrity : bool, default False
        Check whether the new concatenated axis contains duplicates. This can
        be very expensive relative to the actual data concatenation.
    sort : bool, default None
        Sort non-concatenation axis if it is not already aligned when `join`
        is 'outer'. The current default of sorting is deprecated and will
        change to not-sorting in a future version of pandas.

        Explicitly pass ``sort=True`` to silence the warning and sort.
        Explicitly pass ``sort=False`` to silence the warning and not sort.

        This has no effect when ``join='inner'``, which already preserves
        the order of the non-concatenation axis.

        .. versionadded:: 0.23.0

    copy : bool, default True
        If False, do not copy data unnecessarily.

    Returns
    -------
    object, type of objs
        When concatenating all ``Series`` along the index (axis=0), a
        ``Series`` is returned. When ``objs`` contains at least one
        ``DataFrame``, a ``DataFrame`` is returned. When concatenating along
        the columns (axis=1), a ``DataFrame`` is returned.

    See Also
    --------
    Series.append : Concatenate Series.
    DataFrame.append : Concatenate DataFrames.
    DataFrame.join : Join DataFrames using indexes.
    DataFrame.merge : Merge DataFrames by indexes or columns.

    Notes
    -----
    The keys, levels, and names arguments are all optional.

    A walkthrough of how this method fits in with other tools for combining
    pandas objects can be found `here
    <http://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html>`__.

    Examples
    --------
    Combine two ``Series``.

    >>> s1 = pd.Series(['a', 'b'])
    >>> s2 = pd.Series(['c', 'd'])
    >>> pd.concat([s1, s2])
    0    a
    1    b
    0    c
    1    d
    dtype: object

    Clear the existing index and reset it in the result
    by setting the ``ignore_index`` option to ``True``.

    >>> pd.concat([s1, s2], ignore_index=True)
    0    a
    1    b
    2    c
    3    d
    dtype: object

    Add a hierarchical index at the outermost level of
    the data with the ``keys`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'])
    s1  0    a
        1    b
    s2  0    c
        1    d
    dtype: object

    Label the index keys you create with the ``names`` option.

    >>> pd.concat([s1, s2], keys=['s1', 's2'],
    ...           names=['Series name', 'Row ID'])
    Series name  Row ID
    s1           0         a
                 1         b
    s2           0         c
                 1         d
    dtype: object

    Combine two ``DataFrame`` objects with identical columns.

    >>> df1 = pd.DataFrame([['a', 1], ['b', 2]],
    ...                    columns=['letter', 'number'])
    >>> df1
      letter  number
    0      a       1
    1      b       2
    >>> df2 = pd.DataFrame([['c', 3], ['d', 4]],
    ...                    columns=['letter', 'number'])
    >>> df2
      letter  number
    0      c       3
    1      d       4
    >>> pd.concat([df1, df2])
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects with overlapping columns
    and return everything. Columns outside the intersection will
    be filled with ``NaN`` values.

    >>> df3 = pd.DataFrame([['c', 3, 'cat'], ['d', 4, 'dog']],
    ...                    columns=['letter', 'number', 'animal'])
    >>> df3
      letter  number animal
    0      c       3    cat
    1      d       4    dog
    >>> pd.concat([df1, df3], sort=False)
      letter  number animal
    0      a       1    NaN
    1      b       2    NaN
    0      c       3    cat
    1      d       4    dog

    Combine ``DataFrame`` objects with overlapping columns
    and return only those that are shared by passing ``inner`` to
    the ``join`` keyword argument.

    >>> pd.concat([df1, df3], join="inner")
      letter  number
    0      a       1
    1      b       2
    0      c       3
    1      d       4

    Combine ``DataFrame`` objects horizontally along the x axis by
    passing in ``axis=1``.

    >>> df4 = pd.DataFrame([['bird', 'polly'], ['monkey', 'george']],
    ...                    columns=['animal', 'name'])
    >>> pd.concat([df1, df4], axis=1)
      letter  number  animal    name
    0      a       1    bird   polly
    1      b       2  monkey  george

    Prevent the result from including duplicate index values with the
    ``verify_integrity`` option.

    >>> df5 = pd.DataFrame([1], index=['a'])
    >>> df5
       0
    a  1
    >>> df6 = pd.DataFrame([2], index=['a'])
    >>> df6
       0
    a  2
    >>> pd.concat([df5, df6], verify_integrity=True)
    Traceback (most recent call last):
        ...
    ValueError: Indexes have overlapping values: ['a']

In [ ]:
n12 = pd.concat([n1, n2])

In [63]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left, right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False, validate=None)
    Merge DataFrame or named Series objects with a database-style join.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : tuple of (str, str), default ('_x', '_y')
        Suffix to apply to overlapping column names in the left and right
        side, respectively. To raise an exception on overlapping columns use
        (False, False).
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

        .. versionadded:: 0.21.0

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------

    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

In [64]:
df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
                     'value': [1, 2, 3, 5]})
df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
                         'value': [5, 6, 7, 8]})

In [65]:
df1

  lkey  value
0  foo      1
1  bar      2
2  baz      3
3  foo      5

In [66]:
df2

  rkey  value
0  foo      5
1  bar      6
2  baz      7
3  foo      8

In [67]:
df1.merge(df2, left_on='lkey', right_on='rkey')

  lkey  value_x rkey  value_y
0  foo        1  foo        5
1  foo        1  foo        8
2  foo        5  foo        5
3  foo        5  foo        8
4  bar        2  bar        6
5  baz        3  baz        7

In [68]:
df1.merge(df2, left_on='lkey', right_on='rkey',
       suffixes=('_left', '_right'))

  lkey  value_left rkey  value_right
0  foo           1  foo            5
1  foo           1  foo            8
2  foo           5  foo            5
3  foo           5  foo            8
4  bar           2  bar            6
5  baz           3  baz            7

In [3]:
import os
 
dirpath = os.getcwd()
dirpath

'z:\\Data_Science\\TheBridge\\Content\\Contenido_Curso\\data_science_jun_2020\\week5\\day4\\theory'

In [4]:
ROOT_DIR = os.path.dirname(os.path.abspath(""))

ROOT_DIR

'z:\\Data_Science\\TheBridge\\Content\\Contenido_Curso\\data_science_jun_2020\\week5\\day4'