# Getting Financial Data - Google Finance

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [2]:
!pip3 install pandas_datareader

Collecting pandas_datareader
  Downloading pandas_datareader-0.9.0-py3-none-any.whl (107 kB)
     |████████████████████████████████| 107 kB 2.0 MB/s
Collecting lxml
  Downloading lxml-4.5.2-cp38-cp38-macosx_10_9_x86_64.whl (4.5 MB)
     |████████████████████████████████| 4.5 MB 17.0 MB/s
Requirement already satisfied: requests>=2.19.0 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas_datareader) (2.24.0)
Requirement already satisfied: pandas>=0.23 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas_datareader) (1.0.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from requests>=2.19.0->pandas_datareader) (3.0.4)
Requirement already satisfied: python-dateutil>=2.6.1 in /Users/Elsa/Library/Python/3.8/lib/python/site-packages (from pandas>=0.23->pandas_datareader) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (2020.1)
Requirement already satisfied: numpy>=1.13.3 in /Library/Frameworks/Python.framework/Versions/3.8/lib/python3.8/site-packages (from pandas>=0.23->pandas_datareader) (1.19.0)
Requirement already satisfied: six>=1.5 in /Users/Elsa/Library/Python/3.8/lib/python/site-packages (from python-dateutil>=2.6.1->pandas>=0.23->pandas_datareader) (1.15.0)
Installing collected packages: lxml, pandas-datareader
Successfully installed lxml-4.5.2 pandas-datareader-0.9.0

In [3]:
import pandas as pd

# package to extract data from various Internet sources into a DataFrame
# make sure you have it installed
from pandas_datareader import data, wb

# package for dates
import datetime as dt

In [ ]:
## ESTE EJERCICIO NO SE PUEDE RESOLVER A CAUSAS QUE EL FICHERO DE GOOGLE NO SE PUEDE OBTENER

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is)

In [5]:
time = pd.date_range(start="01/01/2015", end="23/07/2020")
time

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-03', '2015-01-04',
               '2015-01-05', '2015-01-06', '2015-01-07', '2015-01-08',
               '2015-01-09', '2015-01-10',
               ...
               '2020-07-14', '2020-07-15', '2020-07-16', '2020-07-17',
               '2020-07-18', '2020-07-19', '2020-07-20', '2020-07-21',
               '2020-07-22', '2020-07-23'],
              dtype='datetime64[ns]', length=2031, freq='D')

In [13]:
type(time)

pandas.core.indexes.datetimes.DatetimeIndex

datetime.datetime(2015, 1, 1, 0, 0)

### Step 3. Select the Apple, Tesla, Twitter, IBM, LinkedIn stocks symbols and assign them to a variable called stocks

['AAPL', 'TSLA', 'IBM', 'LNKD']

### Step 4. Read the data from google, assign to df and print it

In [ ]:

df = wb.DataReader(stocks, 'google', start, end)

<class 'pandas.core.panel.Panel'>
Dimensions: 5 (items) x 399 (major_axis) x 4 (minor_axis)
Items axis: Open to Volume
Major_axis axis: 2015-01-02 00:00:00 to 2016-08-02 00:00:00
Minor_axis axis: AAPL to TSLA

### Step 5.  What is the type of structure of df ?

In [ ]:
# 'pandas.core.panel.Panel'

### Step 6. Print all the Items axis values
#### To learn more about the Panel structure go to [documentation](http://pandas.pydata.org/pandas-docs/stable/dsintro.html#panel)

Index([u'Open', u'High', u'Low', u'Close', u'Volume'], dtype='object')

### Step 7. Good, now we know  the data avaiable. Create a dataFrame called vol, with the Volume values.

                  AAPL        IBM       LNKD       TSLA
Date
2015-01-02  53204626.0  5525466.0  1203743.0  4764443.0
2015-01-05  64285491.0  4880389.0  1400562.0  5368477.0
2015-01-06  65797116.0  6146712.0  2006546.0  6261936.0
2015-01-07  40105934.0  4701839.0   985016.0  2968390.0
2015-01-08  59364547.0  4241113.0  1293955.0  3442509.0

### Step 8. Aggregate the data of Volume to weekly
#### Hint: Be careful to not sum data from the same week of 2015 and other years.

                  AAPL         IBM       LNKD        TSLA
week year
1    2015   53204626.0   5525466.0  1203743.0   4764443.0
     2016  343422014.0  25233098.0  6630485.0  20967926.0
2    2015  283252615.0  24458400.0  7203125.0  22709607.0
     2016  302072797.0  29379214.0  9160521.0  22997290.0
3    2015  304226647.0  23263206.0  7084168.0  30799137.0

### Step 9. Find all the volume traded in the year of 2015

              AAPL           IBM         LNKD          TSLA
year
2015  1.301994e+10  1.100959e+09  440376163.0  1.085839e+09
2016  6.081474e+09  6.585250e+08  453233878.0  7.540962e+08